/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@charset 'UTF-8';

// @font-face {
//     font-family: 'reem_kufiregular';
//     src: url('../fonts/reemkufi-variablefont_wght-webfont.woff2') format('woff2'),
//          url('../fonts/reemkufi-variablefont_wght-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

/* reem-kufi-regular - latin */
// @font-face {
// 	font-family: 'Reem Kufi';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('../fonts/reem-kufi-v16-latin-regular.eot'); /* IE9 Compat Modes */
// 	src: local(''),
// 		 url('../fonts/reem-kufi-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 		 url('../fonts/reem-kufi-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
// 		 url('../fonts/reem-kufi-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
// 		 url('../fonts/reem-kufi-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
// 		 url('../fonts/reem-kufi-v16-latin-regular.svg#ReemKufi') format('svg'); /* Legacy iOS */
// }

@mixin left-right {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	.box_left,
	.box_right {
		width: 50%;
	}
}
@mixin left-right-100 {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	.box_left,
	.box_right {
		width: 100%;
	}
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
@mixin flex-direction {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
@mixin align-items {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
@mixin align-items-flex-start {
	-webkit-box-align: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
}
@mixin align-items-flex-end {
	-webkit-box-align: flex-end;
	-webkit-align-items: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
}
@mixin justify-content_fx-st {
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}
@mixin justify-content_fx-end {
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}
@mixin justify-content_s-a {
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
@mixin justify-content_center {
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
@mixin justify-content_s-b {
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
@mixin flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
@mixin flex-basis($width) {
	-webkit-flex-basis: $width;
	-ms-flex-basis: $width;
	flex-basis: $width;
}
@mixin btn_hover {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0px;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: -1;
		-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
		transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
		-webkit-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
		transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
	}
	&:hover {
		color: #000;
	}
	&:hover::before {
		content: '';
		opacity: 1;
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
		-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}
}
@mixin underline {
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: initial;
		right: 0;
		width: 0;
		height: 2px;
		background: var(--color-blue);
		transition: all .3s linear;
	}
	&:hover::before {
		right: initial;
		left: 0;
		width: 100%;
	}
}
@mixin btn_hover-2 {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: initial;
		right: 0;
		width: 0;
		height: 100%;
		background: #ff7752;
		transition: all .3s linear;
		border-radius: 11px;
		z-index: -1;
	}
	&:hover {
		color: #7BA5E3;
		&::before {
			right: initial;
			left: 0;
			width: 100%;
		}
	}
}
@mixin bulgaria {
	font-family: 'bulgaria_moderna_proregular';
}
@mixin fita {
	font-family: 'Fita_Poluustav';
}
@mixin myriad {
	font-family: 'MyriadPro-Regular';
}
@mixin roboto {
	font-family: 'Roboto', sans-serif;
}
@mixin candara {
	font-family: 'CANDARA';
}


body {
	margin: 0 auto;
}
.wholesale_page {
	color: #394e64;
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.333;
	letter-spacing: 0;
	* {
		box-sizing: border-box;
	}
	.container {
		width: 100%;
		max-width: 1550px;
		margin: auto;
		padding: 0;
	}
	.img_responsive {
		display: block;
		width: 100%;
		height: auto;
		margin: auto;
	}
	.my_btn {
		display: block;
		box-shadow: 3px 3px 15px 0 #929292;
		border-radius: 11px;
		background: #ff7752;
		color: #fff;
		width: 100%;
		max-width: 345px;
		text-align: center;
		font-size: 25px;
		font-weight: 600;
		padding: 18px 20px;
		position: relative;
		cursor: pointer;
		z-index: 1;
		overflow: hidden;
		border: 5px solid #ff7752;
		transition: all .3s linear;
		@include btn_hover-2;
		letter-spacing: 0;
		&::before {
			background: #fff;
		}
		&:hover {
			color: #ff7752;
		}
	}
	h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 40px;
		font-weight: 600;
		color: #363e4e;
		margin: 0;
		display: inline-block;
		position: relative;
	}
	h3 {
		display: block;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 25px;
		margin: 13px 0;
		color: #394e64;
		background: transparent;
	}
	p {
		margin: 18px 0;
		color: #394e64;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 15px;
		letter-spacing: 0;
	}
	a {
		color: var(--color-text);
		transition: all .25s linear;
	}
	ul {
		padding-left: 0;
		margin: 0;
		list-style-type: none;
	}
	.section-1 {
		padding: 40px 20px 50px;
		.box_content {
			@include left-right;
			.box_left {
				width: 465px;
				.box_img {
					position: relative;
					cursor: pointer;
					.img-video {
						position: absolute;
						top: 50px;
						right: -68px;
						width: 100%;
						max-width: 140px;
					}
				}
			}
			.box_right {
				width: calc(100% - 465px);
				padding: 27px 0 0 70px;
				h2 {
					margin: 0 0 21px 0;
					&::after {
						content: '';
						position: absolute;
						top: 16px;
						left: 105%;
						width: 150%;
						height: 5px;
						background: #ff7752;
					}
				}
			}
			.box_img {
				max-width: 465px;
				img:not(.img-video) {
					width: 100%;
					display: block;
					box-shadow: 5px 5px 15px 0 #929292;
				}
			}
			.box_inner {
				max-width: 954px;
				margin-left: auto;
			}
			.box_text {
				overflow: hidden;
			}
			.box_btn {
				margin-top: 88px;
				border-radius: 11px;
			}
		}
	}
	.section-2 {
		padding: 103px 20px 130px;
		.box_content {
			@include flex;
			@include justify-content_s-b;
			&::before,
			&::after {
				content: none;
			}
			.box-cell {
				&:nth-of-type(2) {
					.box-2 {
						margin: auto;
					}
				}
				&:nth-of-type(3) {
					.box-3 {
						margin-left: auto;
					}
				}
			} 
			.box {
				@include flex;
				@include align-items;
				.box_img {
					width: 100%;
					img {
						display: block;
						width: 100%;
					}
				}
				.box_text {
					padding-left: 15px;
					display: inline-block;
					p {
						color: #363e4e;
						font-size: 30px;
						font-weight: 600;
					}
				}
				&.box-1 {
					.box_img {
						max-width: 130px;
					}
				}
				&.box-2 {
					margin: 0 20px;
					@include justify-content_center;
					.box_img {
						max-width: 123px;
					}
				}
				&.box-3 {
					@include justify-content_fx-end;
					.box_img {
						max-width: 124px;
					}
				}
			}
		}
	}
	.modal {
		display: none;
		/* Hidden by default */
		position: fixed;
		/* Stay in place */
		z-index: 1000;
		/* Sit on top */
		padding-top: 100px;
		/* Location of the box */
		left: 0;
		top: 0;
		width: 100%;
		/* Full width */
		height: 100%;
		/* Full height */
		overflow: auto;
		/* Enable scroll if needed */
		background-color: black;
		/* Fallback color */
		background-color: rgba(0, 0, 0, 0.4);
		/* Black w/ opacity */
	}
	#myModal {
		padding: 0 !important;
		text-align: center;
		&:before {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -4px;
		}
		.modal-dialog {
			display: inline-block;
			vertical-align: middle;
			text-align: left;
			width: 95%;
			max-width: 500px;
			.modal-content {
				border-radius: 0;
				border: 1px solid #fff;
				border-radius: 10px;
				position: relative;
				padding: 30px;
				animation-name: animatetop;
				animation-duration: 0.5s;
				background: #fff;
				position: relative;
				.modal-header {
					border-bottom: 0;
					position: relative;
					padding-top: 15px;
					h4 {
						font-size: 12px;
						line-height: 18px;
						color: #363f50;
						margin: 0px 0 0;
						font-weight: 600;
						text-align: center;
					}
					button {
						position: absolute;
						top: -20px;
						right: -20px;
						margin: 0;
						background: transparent;
						width: 24px;
						height: 24px;
						border: none;
						font-size: 26px;
						text-align: center;
						opacity: 1;
						cursor: pointer;
						&:focus {
							outline: none;
						}
						&:hover {
							background-position: 0 -40px;
						}
						&::before {
							content: '';
							position: absolute;
							top: 0;
							width: 2px;
							height: 25px;
							background: #000;
							transform: rotate(45deg);
						}
						&::after {
							content: '';
							position: absolute;
							top: 0;
							width: 2px;
							height: 25px;
							background: #000;
							transform: rotate(-45deg);
						}
					}
				}
				.modal-body {
					padding-top: 20px;
					margin: auto;
					text-align: center;
					position: relative;
					label {
						font-size: 20px;
						color: #333;
						width: 100%;
						text-indent: 10px;
						margin: 0;
					}
					.form-group {
						display: block;
						margin: 0 auto 15px;
						input {
							width: 100%;
							font-size: 20px;
							margin-top: 0px;
							border: 2px solid #f7e4e2;
    						border-radius: 10px;
							background: transparent;
							padding: 10px;
							font-size: 15px;
							color: #363f50;
							margin-bottom: 0;
							&::placeholder {
								color: #363f50;
							}
							&:focus {
								outline: 0;
								-webkit-box-shadow: 0 1px 0 rgba(255, 81, 46, .88);
								box-shadow: 0 1px 0 rgba(255, 81, 46, .88);
							}
						}
					}
					.my_btn {
						display: inline-block;
						margin: 0px auto 0;
						font-size: 15px;
						background: #fa7752;
						border: none;
						vertical-align: middle;
						padding: 16px 10px;
						color: #fff;
						width: 100%;
						border: none;
						border-radius: 10px;
						transition: all .3s linear;
						max-width: 100%;
						cursor: pointer;
						&:focus {
							outline: none;
						}
					}
				}
			}
		}
	}

	@media (max-width: 1300px) {
		.section-2 .box_content .box { 
			.box_img.box_img {
				max-width: 110px;
			}
			.box_text p {
				font-size: 24px;
			}
		}
	}
	@media (max-width: 1200px) {
		h2 {
			font-size: 34px;
		}	
		.section-1 .box_content {
			.box_left {
				width: 390px;
			}
			.box_right {
				width: calc(100% - 390px);
				padding: 27px 0 0 70px;
			}
		}
		.section-2 .box_content .box .box_text p {
			font-size: 20px;
		}
	}
	@media (max-width: 992px) {
		.section-1 .box_content {
			@include left-right-100;
			.box_left {
				.box_img {
					margin: auto;
				}
			}
			.box_right {
				padding: 80px 0 0 0px;
				.box_btn {
					.my_btn {
						margin: 88px auto 0;
					}
				}
			}
		}
		.section-2 {
			.box_content {
				
				.box.box {
					@include flex-direction;
					.box_img {
						max-width: 130px;
					}
					.box_text {
						p {
							font-size: 24px;
						}
					}
				}
			}
		}
	}
	@media (max-width: 768px) {
		.section-1 .box_content .box_left .box_img .img-video {
			top: 15px;
			right: 15px;
			max-width: 95px;
		}
		.section-2 .box_content {
			@include flex-direction;
			.box:not(:first-of-type) {
				margin-top: 50px;
			}
		}
	}
	@media (max-width: 600px) {
		#myModal-1 .modal-dialog .modal-content .modal-header h4 {
			font-size: 24px;
		  }
		#myModal-1 .modal-dialog .modal-content .modal-body {
			text-align: center;
		  }
		#myModal-1 .modal-dialog .modal-content .modal-body .form-group {
			max-width: 340px;
		  }
	}
	@media (max-width: 480px) {
		.section-1 .box_content .box_left .box_img .img-video {
			top: 10px;
			right: 10px;
			max-width: 80px;
		}
		.main_page #myModal-1 .modal-dialog .modal-content .modal-header h4 {
			font-size: 28px;
			margin: 55px 0 0;
		  }
		  .main_page #myModal-1 .modal-dialog .modal-content .modal-body .form-group {
			max-width: 100%;
			margin-bottom: 20px;
		  }
		  .main_page #myModal-1 .modal-dialog .modal-content .modal-body .modal-body .my_btn {
			font-size: 18px;
		  }
	}
	@media (max-width: 400px) {
		.section-1 .box_content .box_left .box_img .img-video {
			top: 10px;
			right: 10px;
			max-width: 65px;
		}
		#myModal .modal-dialog .modal-content {
			padding: 30px 10px;
			.modal-header button {
				right: 0px;
			}
		}
	}
	
}

.grtyoutube-popup {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99999;
}

.grtyoutube-popup-content {
	margin-top:150px;
	width:95%;
	max-width:850px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.grtyoutube-popup-close {
	position:absolute;
	top:-30px;
	right:0;
	color:#FFF;
	font-size:25px;
	width:17px;
	height:17px;
	cursor:pointer;
}

.grtyoutube-iframe {
	width:100%;
	height:480px;
}
@media (max-width:767px) {
	.grtyoutube-iframe {
		width:100%;
		height:350px;
	}
}

.grtyoutube-dark-theme{
	background: rgba(0,0,0, 0.85);
}

.grtyoutube-dark-theme .grtyoutube-popup-content {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
	-moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
	box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.4);
}

.grtyoutube-dark-theme .grtyoutube-popup-close {
	background: url('icon-close-white.png') no-repeat;
}

.grtyoutube-light-theme {
	background: rgba(255,255,255, 0.85);
}

.grtyoutube-light-theme .grtyoutube-popup-content {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}

.grtyoutube-light-theme .grtyoutube-popup-close {
	background: url('icon-close-black.png') no-repeat;
}





