@media screen and (max-width: 1300px) {
  * {
    --container: 1020px;
  }
  body {
    font-size: 14px;
  }
  /* ----------------------header---------------------- */
  .header {
    padding: 22px 0;
  }
  .header__logo {
    height: 44px;
  }
  .header__menu li {
    margin: 0 13px;
  }
  .header__menu li a {
    font-size: 16px;
  }
  .btn {
    min-width: 241px;
    height: 52px;
    border-radius: 26px;
  }
  /* --------------------------first-screen------------------------- */
  .first-screen__container {
    padding: 88px 0 35px;
    margin: 0 -13px;
  }
  .fs-img__bg1 {
    width: 228px;
    height: 259px;
    left: 285px;
    top: -137px;
  }
  .fs-img__bg2 {
    width: 403px;
    height: 403px;
    left: -216px;
    top: 57px;
  }
  .fs-img__bg3 {
    width: 403px;
    height: 403px;
    left: 230px;
    top: 240px;
  }
  .fs-img__bg4 {
    width: 227px;
    height: 227px;
    left: -264px;
    bottom: -113px;
  }
  .first-screen__left {
    width: calc((100% - 2 * 26px) / 2);
    margin: 0 13px;
  }
  .first-screen__title {
    font-size: 44px;
    margin-bottom: 35px;
  }
  .first-screen__subtitle {
    font-size: 21px;
    margin-bottom: 43px;
  }
  .first-screen__right {
    width: calc((100% - 2 * 26px) / 2);
    margin: 0 13px;
    height: 542px;
  }
  .fs-banner {
    border-radius: 175px 0px 0px 0px;
  }
  .fs-banner__advantages {
    left: 60px;
    bottom: -35px;
    padding: 18px 20px;
    box-shadow: 0px 35px 26px -26px rgba(77, 80, 97, 0.2);
    border-radius: 18px;
    justify-content: center;
  }
  .fs-banner__advantages li:not(:last-child) {
    padding-right: 15px;
  }
  .fs-banner__advantages li {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .fs-banner__advantages li:not(:first-child) {
    padding-left: 15px;
  }
  /* --------------------logos--------------------------- */
  .logos {
    padding: 53px 0;
  }
  .logo-img {
    width: 148px;
  }
  /* -----------------------courses---------------------------- */
  .courses {
    padding: 52px 0 65px;
  }
  .courses-img__bg1 {
    width: 403px;
    height: 403px;
    right: -299px;
    top: -69px;
  }
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 14px;
    margin-top: 26px;
  }
  .courses__subtitle {
    margin-bottom: 33px;
  }
  .courses__cards {
    margin: 0 -13px;
  }
  .courses__card {
    width: calc((100% - 4 * 26px) / 4);
    margin: 13px;
  }
  .courses__card-text {
    font-size: 13px;
  }
  .small-btn {
    min-width: 157px;
  }
  .courses__btn {
    margin: 52px auto 0;
  }
  /* ----------------------events------------------- */
  .events {
    padding: 105px 0;
  }
  .events__subtitle {
    margin-bottom: 46px;
  }
  .events__cards {
    margin: 0 -10px;
  }
  .events__card {
    width: calc((100% - 4 * 20px) / 4);
    margin: 0 10px;
    padding: 6px 7px 24px;
  }
  .events__card-info {
    padding: 0 11px;
  }
  .events__card-title {
    font-size: 16px;
    margin-bottom: 13px;
  }
  .events__card-btn {
    margin: 16px auto 0;
  }
  .events__btn {
    margin: 39px auto 0;
  }
  /* ----------------------why--------------------------- */
  .why {
    padding: 105px 0 144px;
  }
  .why-img__bg1 {
    width: 403px;
    height: 403px;
    left: -134px;
    top: -280px;
  }
  .why-img__bg2 {
    width: 228px;
    height: 228px;
    right: 45px;
    top: -218px;
  }
  .why-img__bg3 {
    width: 228px;
    height: 228px;
    left: -257px;
    bottom: -104px;
  }
  .why-img__bg4 {
    width: 114px;
    height: 114px;
    left: -49px;
    bottom: -202px;
  }
  .why-img__bg5 {
    width: 403px;
    height: 403px;
    right: -193px;
    bottom: -134px;
  }
  .why__title {
    margin-bottom: 49px;
  }
  .why__blocks {
    margin: 0 -13px;
  }
  .why__block-info {
    width: calc(100% - 585px - 2 * 26px);
    margin: 0 13px;
  }
  .why__block-video {
    width: 585px;
    height: 349px;
    margin: 0 13px;
  }
  .why__block-info-li:not(:last-child) {
    margin-bottom: 35px;
  }
  .why__block-title {
    font-size: 21px;
    margin-bottom: 17px;
  }
  .why__block-text {
    max-width: 323px;
  }
  .video__info-box {
    box-shadow: 0px 35px 26px -26px rgba(77, 80, 97, 0.2);
    padding: 13px 35px;
  }
  .video__info-box li:first-child {
    padding-right: 48px;
  }
  .video__info-box li:last-child {
    padding-left: 45px;
  }
  .video__info-box-number {
    font-size: 31px;
    margin-right: 17px;
  }
  .video__info-box-text {
    font-size: 16px;
  }
  /* --------------------steps------------------------ */
  .steps {
    padding: 116px 0 116px;
  }
  .steps__title {
    margin-bottom: 95px;
  }
  .steps__cards {
    margin: 0 -13px;
  }
  .step__card {
    width: calc((100% - 4 * 26px) / 4);
    margin: 0 13px;
    padding: 72px 22px 54px;
    border-radius: 18px;
  }
  .step__card-icon {
    width: 88px;
    height: 88px;
    top: -42px;
  }
  .step__card-icon img {
    height: 44px;
    width: 44px;
  }
  .step__card__number {
    margin-bottom: 30px;
  }
  .step__card-text {
    font-size: 16px;
  }
  .step__card:not(:last-child) .step__card-icon::after {
    width: 154px;
    right: -168px;
  }
  .boost__btn {
    margin: 52px auto 0;
  }
  /* ---------------------reviews----------------------- */
  .reviews {
    padding: 103px 0 87px;
  }
  .reviews__title {
    max-width: 400px;
    line-height: 1;
    margin: 0 auto;
  }
  /* -----------------------blog----------------------- */
  .blog {
    padding: 105px 0;
  }
  .blog-img__bg1 {
    width: 261px;
    height: 105px;
    right: 16px;
    top: -105px;
  }
  .blog-img__bg2 {
    width: 533px;
    height: 533px;
    left: -303px;
    top: -114px;
  }
  .blog-img__bg3 {
    width: 432px;
    height: 432px;
    left: -266px;
    bottom: -380px;
  }
  .blog-img__bg4 {
    width: 533px;
    height: 533px;
    right: -260px;
    top: 96px;
  }
  .blog__subtitle {
    margin-bottom: 38px;
  }
  .blog__cards {
    margin: 0 -13px;
  }
  .blog__card {
    width: calc((100% - 3 * 26px) / 3);
    margin: 0 13px;
    padding: 6px 6px 24px;
  }
  .blog__card-img {
    height: 157px;
  }
  .blog__card-title {
    font-size: 16px;
  }
  .blog__card-bottom {
    height: calc(100% - 156px);
    padding: 16px 13px 0;
  }
  .blog__card-info {
    margin-bottom: 8px;
  }
  .blog__card-text {
    margin-bottom: 16px;
  }
  .blog__btn {
    margin: 52px auto 0;
  }
  /* -----------------subscribe--------------------- */
  .subscribe {
    padding: 121px 0 53px;
  }
  .subscribe::after {
    left: calc(50vw + 68px);
  }
  .subscribe__container {
    margin: 0 -13px;
  }
  .subscribe-img__bg2 {
    width: 403px;
    height: 403px;
    left: -306px;
    top: -121px;
  }
  .subscribe__left {
    width: calc((100% - 2 * 26px) / 2);
    margin: 0 13px;
    padding-bottom: 68px;
  }
  .subscribe__subtitle {
    margin-bottom: 52px;
  }
  .subscribe__form {
    margin-bottom: 27px;
  }
  .form-input {
    height: 52px;
    font-size: 14px;
    padding: 0 160px 0 26px;
    border-radius: 26px;
  }
  .form-btn {
    width: 148px;
    min-width: 148px;
  }
  .form-btn input {
    font-size: 14px;
  }
  .checkbox-custom-label::before,
  .checkbox-custom + .checkbox-custom-label::before {
    top: 0px;
  }
  .checkbox-custom-label.checked::after,
  .checkbox-custom:checked + .checkbox-custom-label::after {
    top: 3px;
  }
  .subscribe__right {
    width: calc((100% - 2 * 26px) / 2);
    margin: 0 13px;
    height: 497px;
  }
  .subscribe__right-img {
    width: 613px;
  }
  .subscribe-img__bg1 {
    width: 403px;
    height: 403px;
    top: 24px;
  }
  .plant-img {
    width: 212px;
    height: 273px;
    left: 14px;
    top: 176px;
  }
  /* -------------------footer------------------- */
  .footer__top {
    padding: 26px 0;
    margin: 0 -13px;
  }
  .footer {
    padding: 26px 0;
  }
  .footer__top-left {
    height: 44px;
    margin: 0 13px;
  }
  .footer__menu {
    width: calc((100% - 2 * 200px - 3 * 26px));
  }
  .footer__menu li {
    padding: 0 13px;
  }
  .footer__menu li a {
    font-size: 16px;
  }
  .footer__socials {
    margin: 0 13px;
  }
  .footer__socials li:not(:last-child) {
    margin-right: 16px;
  }
  .footer__bottom {
    padding: 13px 0;
  }
}
@media screen and (max-width: 1150px) {
  * {
    --container: 900px;
  }
  .btn {
    height: 50px;
  }
  /* ----------------------header---------------------- */
  .header__logo {
    height: 38px;
  }
  .header__menu li {
    margin: 0 11px;
  }
  .header__menu li a {
    font-size: 14px;
  }
  /* --------------------------first-screen------------------------- */
  .fs-img__bg1 {
    width: 199px;
    height: 227px;
    left: 248px;
    top: -119px;
  }
  .fs-img__bg2 {
    width: 351px;
    height: 351px;
    left: -189px;
    top: 50px;
  }
  .fs-img__bg3 {
    width: 351px;
    height: 351px;
    left: 200px;
    top: 210px;
  }
  .fs-img__bg4 {
    width: 198px;
    height: 198px;
    left: -230px;
    bottom: -98px;
  }
  .first-screen__title {
    font-size: 38px;
    margin-bottom: 31px;
  }
  .first-screen__subtitle {
    font-size: 18px;
    margin-bottom: 37px;
  }
  .first-screen__container {
    margin: 0 -11px;
  }
  .first-screen__left {
    width: calc((100% - 2 * 22px) / 2);
    margin: 0 11px;
  }
  .first-screen__right {
    width: calc((100% - 2 * 22px) / 2);
    margin: 0 11px;
    height: 473px;
  }
  .fs-banner {
    border-radius: 153px 0px 0px 0px;
  }
  .fs-banner__advantages {
    left: 30px;
    bottom: -38px;
    padding: 16px 18px;
    border-radius: 16px;
  }
  .fs-banner__advantages li {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: center;
  }
  .fs-banner__advantages li:not(:last-child) {
    padding-right: 20px;
  }
  .fs-banner__advantages li:not(:first-child) {
    padding-left: 20px;
  }
  .fs__advantages-text {
    margin-left: 0;
    margin-top: 3px;
  }
  /* --------------------logos--------------------------- */
  .logo-img {
    width: 130px;
  }
  .logos {
    padding: 47px 0;
  }
  /* -----------------------courses---------------------------- */
  .courses {
    padding: 46px 0 57px;
  }
  .title {
    font-size: 28px;
  }
  .courses__subtitle {
    margin-bottom: 30px;
  }
  .subtitle {
    margin-top: 23px;
  }
  .courses__cards {
    margin: 0 -11px;
    justify-content: center;
  }
  .courses__card {
    width: calc((100% - 3 * 22px) / 3);
    margin: 11px;
  }
  .courses__btn {
    margin: 0 auto;
  }
  .courses__card-img {
    height: 183px;
  }
  .courses__card .small-btn {
    margin: 17px auto 32px;
  }
  /* ----------------------events------------------- */
  .events {
    padding: 92px 0;
  }
  .events__subtitle {
    margin-bottom: 30px;
  }
  .events__cards {
    justify-content: center;
  }
  .events__card {
    width: calc((100% - 3 * 20px) / 3);
    margin: 10px;
  }
  .events__btn {
    margin: 22px auto 0;
  }
  .events__card-type {
    margin-bottom: 12px;
  }
  /* ----------------------why--------------------------- */
  .why {
    padding: 92px 0 126px;
  }
  .why-img__bg1 {
    width: 352px;
    height: 352px;
    left: -114px;
    top: -244px;
  }
  .why-img__bg2 {
    width: 200px;
    height: 200px;
    right: 39px;
    top: -190px;
  }
  .why-img__bg3 {
    width: 200px;
    height: 200px;
    left: -224px;
    bottom: -91px;
  }
  .why-img__bg4 {
    width: 100px;
    height: 100px;
    left: -43px;
    bottom: -176px;
  }
  .why-img__bg5 {
    width: 352px;
    height: 352px;
    right: -168px;
    bottom: -117px;
  }
  .why__title {
    margin-bottom: 43px;
  }
  .why__blocks {
    margin: 0 -11px;
  }
  .why__block-info {
    width: calc(100% - 510px - 2 * 22px);
    margin: 0 11px;
  }
  .why__block-video {
    width: 510px;
    height: 305px;
    margin: 0 11px;
  }
  .video__info-box {
    padding: 11px 30px;
    bottom: -31px;
  }
  .video__info-box li:first-child {
    padding-right: 30px;
  }
  .video__info-box li:last-child {
    padding-left: 30px;
  }
  .video__info-box-number {
    font-size: 27px;
  }
  .video__info-box-text {
    font-size: 14px;
  }
  .why__block-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .why__block-info-li:not(:last-child) {
    margin-bottom: 24px;
  }
  /* --------------------steps------------------------ */
  .steps {
    padding: 100px 0;
  }
  .steps__title {
    margin-bottom: 83px;
  }
  .steps__cards {
    margin: 0 -11px;
  }
  .step__card {
    width: calc((100% - 4 * 22px) / 4);
    margin: 0 11px;
    padding: 62px 19px 47px;
    border-radius: 16px;
  }
  .step__card-icon {
    width: 76px;
    height: 76px;
    top: -36px;
  }
  .step__card__number {
    margin-bottom: 26px;
  }
  .step__card-text {
    font-size: 14px;
  }
  .step__card-icon img {
    height: 38px;
    width: 38px;
  }
  .step__card:not(:last-child) .step__card-icon::after {
    width: 134px;
    right: -147px;
  }
  .boost__btn {
    margin: 33px auto 0;
  }
  /* ---------------------reviews----------------------- */
  .reviews {
    padding: 90px 0 76px;
  }
  .reviews__slider-arrow.prev-arrow {
    left: 65px;
  }
  .reviews__slider-arrow.next-arrow {
    right: 65px;
  }
  .reviews__slider .slick-track {
    padding: 70px 0;
  }
  /* -----------------------blog----------------------- */
  .blog {
    padding: 92px 0;
  }
  .blog-img__bg1 {
    width: 228px;
    height: 92px;
    right: 14px;
    top: -92px;
  }
  .blog-img__bg2 {
    width: 465px;
    height: 465px;
    left: -264px;
    top: -100px;
  }
  .blog-img__bg3 {
    width: 377px;
    height: 377px;
    left: -232px;
    bottom: -332px;
  }
  .blog-img__bg4 {
    width: 465px;
    height: 465px;
    right: -226px;
    top: 84px;
  }
  .blog__subtitle {
    margin-bottom: 33px;
  }
  .blog__cards {
    margin: 0 -11px;
  }
  .blog__card {
    width: calc((100% - 3 * 22px) / 3);
    margin: 0 11px;
  }
  .blog__card-text {
    font-size: 16px;
  }
  .blog__btn {
    margin: 32px auto 0;
  }
  /* ---------------------subscribe-------------------- */
  .subscribe {
    padding: 105px 0 46px;
  }
  .subscribe__container {
    margin: 0 -11px;
  }
  .subscribe::after {
    left: calc(50vw + 59px);
  }
  .subscribe-img__bg2 {
    width: 352px;
    height: 352px;
    left: -267px;
    top: -106px;
  }
  .subscribe__left {
    width: calc((100% - 2 * 22px) / 2);
    margin: 0 10px;
    padding-bottom: 59px;
  }
  .form-input {
    height: 50px;
  }
  .subscribe__subtitle {
    margin-bottom: 45px;
  }
  .subscribe__form {
    margin-bottom: 24px;
  }
  .subscribe__right {
    width: calc((100% - 2 * 22px) / 2);
    margin: 0 11px;
    height: 434px;
  }
  .subscribe__right-img {
    width: 535px;
  }
  .subscribe-img__bg1 {
    width: 352px;
    height: 352px;
    top: 21px;
  }
  .plant-img {
    width: 185px;
    height: 238px;
    left: 12px;
    top: 154px;
  }
  /* ----------------------footer------------------------ */
  .footer {
    padding: 23px 0;
  }
  .footer__top {
    padding: 23px 0;
    margin: 0 -11px;
    justify-content: space-between;
  }
  .footer__bottom {
    padding: 15px 0 10px;
    line-height: 150%;
  }
  .footer__top-left {
    height: 38px;
    margin: 0 11px;
    width: max-content;
  }
  .footer__menu {
    width: max-content;
  }
  .footer__socials {
    margin: 0 11px;
  }
  .footer__menu li {
    padding: 0 11px;
  }
  .footer__menu li a {
    font-size: 14px;
  }
  .footer__socials a {
    font-size: 30px;
    line-height: 30px;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 970px) {
  * {
    --container: 786px;
  }
  .header__logo {
    height: 33px;
  }
  .title {
    font-size: 24px;
  }
  .subtitle {
    margin-top: 20px;
  }
  /* ------------------first-screen------------------ */
  .first-screen__container {
    padding: 77px 0 35px;
  }
  .fs-img__bg1 {
    width: 174px;
    height: 198px;
    left: 217px;
    top: -104px;
  }
  .fs-img__bg2 {
    width: 306px;
    height: 306px;
    left: -165px;
    top: 44px;
  }
  .fs-img__bg3 {
    width: 306px;
    height: 306px;
    left: 174px;
    top: 183px;
  }
  .fs-img__bg4 {
    width: 173px;
    height: 173px;
    left: -200px;
    bottom: -85px;
  }
  .first-screen__title {
    font-size: 33px;
    margin-bottom: 27px;
  }
  .first-screen__subtitle {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .first-screen__right {
    height: 413px;
  }
  .fs-banner {
    border-radius: 134px 0px 0px 0px;
  }
  .fs-banner__advantages {
    left: 26px;
    bottom: -36px;
    padding: 14px 16px;
  }
  /* -----------------logos----------------- */
  .logos {
    padding: 41px 0;
  }
  .logo-img {
    width: 114px;
  }
  /* ------------------courses---------------- */
  .courses {
    padding: 40px 0 50px;
  }
  .courses__subtitle {
    margin-bottom: 13px;
  }
  .courses__card {
    width: calc((100% - 2 * 22px) / 2);
  }
  .courses__card .small-btn {
    margin: 17px auto 21px;
  }
  /* -----------------events------------------ */
  .events {
    padding: 80px 0;
  }
  .events__subtitle {
    margin-bottom: 26px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .events__card {
    width: calc((100% - 2 * 20px) / 2);
  }
  /* --------------------why---------------------- */
  .why {
    padding: 80px 0 110px;
  }
  .why-img__bg1 {
    width: 307px;
    height: 307px;
    left: -100px;
    top: -213px;
  }
  .why-img__bg2 {
    width: 175px;
    height: 175px;
    right: 34px;
    top: -166px;
  }
  .why-img__bg3 {
    width: 175px;
    height: 175px;
    left: -195px;
    bottom: -79px;
  }
  .why-img__bg4 {
    width: 87px;
    height: 87px;
    left: -38px;
    bottom: -154px;
  }
  .why-img__bg5 {
    width: 307px;
    height: 307px;
    right: -147px;
    bottom: -102px;
  }
  .why__title {
    margin-bottom: 37px;
  }
  .why__block-info {
    width: calc(100% - 445px - 2 * 22px);
  }
  .why__block-video {
    width: 445px;
    height: 266px;
  }
  .why__block-title {
    font-size: 16px;
  }
  .video__info-box-number {
    font-size: 16px;
    margin-right: 8px;
  }
  .video__info-box-text {
    font-size: 12px;
  }
  .video__info-box {
    padding: 9px 18px;
    bottom: -26px;
  }
  .video__info-box li:first-child {
    padding-right: 26px;
  }
  .video__info-box li:last-child {
    padding-left: 26px;
  }
  .play-btn__white {
    width: 40px;
    height: 40px;
  }
  /* ----------------steps------------------ */
  .steps {
    padding: 87px 0;
  }
  .steps__title {
    margin-bottom: 72px;
  }
  .step__card {
    padding: 54px 17px 39px;
    border-radius: 14px;
  }
  .step__card-icon {
    width: 70px;
    height: 70px;
    top: -31px;
  }
  .step__card__number {
    margin-bottom: 15px;
  }
  .step__card-icon img {
    height: 34px;
    width: 34px;
  }
  .step__card:not(:last-child) .step__card-icon::after {
    width: 117px;
    right: -128px;
    top: 9px;
  }
  /* -----------------reviews-------------- */
  .reviews {
    padding: 79px 0 66px;
  }
  .reviews__slider-arrow {
    width: 40px;
    height: 40px;
    font-size: 8px;
  }
  .reviews__slider-arrow.prev-arrow {
    left: 35px;
  }
  .reviews__slider-arrow.next-arrow {
    right: 35px;
  }
  /* ------------------blog---------------- */
  .blog {
    padding: 80px 0;
  }
  .blog__subtitle {
    margin-bottom: 28px;
  }
  .blog__card {
    width: calc((100% - 2 * 22px) / 2);
    margin: 11px;
  }
  .blog__cards {
    justify-content: center;
  }
  .blog-img__bg1 {
    width: 199px;
    height: 80px;
    right: 12px;
    top: -80px;
  }
  .blog-img__bg2 {
    width: 406px;
    height: 406px;
    left: -230px;
    top: -87px;
  }
  .blog-img__bg3 {
    width: 329px;
    height: 329px;
    left: -203px;
    bottom: -290px;
  }
  .blog-img__bg4 {
    width: 406px;
    height: 406px;
    right: -197px;
    top: 73px;
  }
  /* -----------------subscribe------------------ */
  .subscribe {
    padding: 92px 0 40px;
  }
  .subscribe::after {
    left: calc(50vw + 52px);
  }
  .subscribe-img__bg2 {
    width: 307px;
    height: 307px;
    left: -233px;
    top: -93px;
  }
  .subscribe__left {
    padding-bottom: 52px;
  }
  .subscribe__subtitle {
    margin-bottom: 39px;
  }
  .subscribe__right {
    height: 379px;
  }
  .subscribe__right-img {
    width: 467px;
  }
  .subscribe-img__bg1 {
    width: 307px;
    height: 307px;
    top: 18px;
  }
  .plant-img {
    width: 161px;
    height: 208px;
    left: 10px;
    top: 134px;
  }
  .checkbox-custom-label::before,
  .checkbox-custom + .checkbox-custom-label::before {
    top: 1px;
  }
  .checkbox-custom-label.checked::after,
  .checkbox-custom:checked + .checkbox-custom-label::after {
    top: 4px;
  }
  /* -----------------footer------------------ */
  .footer {
    padding: 20px 0;
  }
  .footer__top {
    padding: 20px 0;
  }
  .footer__top-left {
    height: 33px;
  }
  .scroll-top__btn {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 850px) {
  /* ----------------------header--------------------- */
  .header__burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 32px;
    height: 22px;
  }
  .header__burger-menu span {
    display: flex;
    height: 2px;
  }
  .header__burger-menu span:nth-child(1) {
    width: 32px;
    background: #d7f0e3;
  }
  .header__burger-menu span:nth-child(2) {
    width: 28px;
    background: #b1e3ca;
  }
  .header__burger-menu span:nth-child(3) {
    width: 32px;
    background: var(--c-green);
  }
  .header__logo {
    height: 25px;
  }
  .header__menu li {
    margin: 0;
    padding: 12px 20px;
    border-bottom: 1px solid #d1d1d1;
  }
  .header__menu li a {
    font-size: 16px;
    line-height: 150%;
  }
  .header__menu-nav {
    position: fixed;
    right: -100vw;
    top: 0;
    padding: 60px 16px;
    width: 100vw;
    height: 100vh;
    background: var(--c-white);
    transition: all 0.2s ease;
    z-index: 10;
  }
  .header__menu {
    flex-direction: column;
  }
  .header__menu-nav.open {
    right: 0;
  }
  .header__menu li a:hover {
    border-bottom: none;
    color: var(--c-green);
  }
  .header__menu-close_btn {
    display: flex;
    width: 21px;
    height: 21px;
    position: absolute;
    right: 22px;
    top: 24px;
    z-index: 11;
  }
  .header__menu-close_btn span {
    display: flex;
    width: 27px;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #d1d1d1;
    border-radius: 100px;
  }
  .header__menu-close_btn span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .header__menu-close_btn span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  /* ---------------------------------------- */
  * {
    --container: 100vw;
  }
  .first-screen__container {
    padding: 68px 0 0;
    margin: 0;
    flex-direction: column;
  }
  .fs-img__bg1 {
    display: none;
  }
  .fs-img__bg2 {
    width: 250px;
    height: 250px;
    left: -171px;
    top: 156px;
  }
  .fs-img__bg3 {
    width: 250px;
    height: 250px;
    left: auto;
    top: 33px;
    right: -146px;
  }
  .fs-img__bg4 {
    display: none;
  }
  .first-screen__right {
    height: max-content;
    width: 100%;
    margin: 0;
    flex-direction: column-reverse;
    display: flex;
  }
  .first-screen__title {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .fs-banner__advantages {
    left: 0;
    bottom: 0;
    padding: 0;
    position: relative;
    background: transparent;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 30px;
  }
  .fs-banner {
    border-radius: 120px 0px 0px 0px;
    width: calc(100% + 16px);
    height: 50vw;
    min-height: 280px;
    position: relative;
    background: url(../img/img_png/img_banner-mob2.jpg) no-repeat center;
    background-size: cover;
  }
  .fs-banner img {
    display: none;
  }
  .first-screen__subtitle {
    margin-bottom: 25px;
  }
  .first-screen__left {
    width: 100%;
    margin: 0;
  }
  .fs__advantages-text {
    margin-top: 8px;
    line-height: 24px;
  }
  .fs-banner__advantages {
    justify-content: space-between;
  }
  .container {
    padding: 0 16px;
  }
  .fs-banner__advantages li:not(:last-child) {
    border-right: none;
  }
  .first-screen__btn {
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
  }
  /* ----------------logos------------------ */
  .logos {
    padding: 49px 0;
  }
  .logo-img {
    height: 30px;
    margin: 0 15px;
  }
  .logos__list {
    margin: 0 -15px;
  }
  .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
  }
  .slick-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background: #b1e3ca;
    border-radius: 50%;
    line-height: 0px;
    transition: all 0.2s ease;
  }
  .slick-dots li {
    line-height: 0;
    font-size: 0;
    margin: 8px;
  }
  .slick-dots .slick-active button {
    transform: scale(1.5);
    background: var(--c-green);
  }
  .logos__list-arrow {
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #d1d1d1;
  }
  .logos__list-arrow.next-arrow {
    left: calc(50% - 7px);
    bottom: -49px;
    transform: translateX(77px);
  }
  .logos__list-arrow.prev-arrow {
    right: calc(50% - 7px);
    bottom: -50px;
    transform: translateX(-77px) rotate(180deg);
  }
  /* -------------------courses------------------- */
  .courses {
    padding: 56px 0 64px;
  }
  .subtitle {
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
  }
  .title {
    line-height: 133%;
  }
  .courses__subtitle {
    margin-bottom: 16px;
  }
  .courses__card .small-btn {
    margin: 0 auto;
  }
  .courses__card-text {
    font-size: 14px;
  }
  .courses__card-title {
    margin-bottom: 6px;
    font-size: 16px;
  }
  .courses__card-author {
    margin-bottom: 3px;
  }
  .courses__card-rating {
    margin-bottom: 3px;
  }
  .courses__card-text {
    margin-bottom: 17px;
  }
  /* -------------------events---------------------- */
  .events {
    padding: 64px 0;
  }
  .events__subtitle {
    max-width: 100%;
  }
  .events__title h2 {
    display: flex;
    flex-direction: column;
  }
  .small-btn {
    min-width: 156px;
  }
  /* ---------------------why-------------------- */
  .why {
    padding: 64px 0 88px;
  }
  .why__title {
    margin-bottom: 28px;
  }
  .why__block-info {
    width: 100%;
    margin: 0 0 24px;
  }
  .why__block-video {
    width: 100%;
    height: 50vw;
    min-height: 196px;
  }
  .why__blocks {
    margin: 0;
    flex-direction: column;
  }
  .video__info-box {
    box-shadow: 0px 40px 30px -30px rgba(77, 80, 97, 0.2);
    border-radius: 10px;
  }
  .why__block-text {
    max-width: 100%;
  }
  .why-img__bg1 {
    width: 250px;
    height: 250px;
    left: -159px;
    top: -186px;
    background: url(../img/icons/dots_460x460.svg) no-repeat center;
    background-size: contain;
  }
  .why-img__bg2 {
    display: none;
  }
  .why-img__bg4 {
    display: none;
  }
  .why-img__bg5 {
    width: 250px;
    height: 250px;
    right: -181px;
    bottom: auto;
    top: -53px;
  }
  .why-img__bg3 {
    display: none;
  }
  /* --------------------steps--------------------- */
  .steps {
    padding: 56px 0 63px;
  }
  .steps__cards {
    margin: 0;
    flex-direction: column;
    padding-left: 35px;
  }
  .step__card {
    padding: 24px 24px 24px 70px;
    width: 100%;
    margin: 0 0 16px;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    height: 150px;
  }
  .step__card-icon {
    top: 50%;
    left: -35px;
    transform: translate(0, -50%);
    border: 4px solid var(--c-green);
  }
  .steps__title {
    margin-bottom: 24px;
  }
  .step__card__number {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
  }
  .step__card:not(:first-child) .step__card-icon::after {
    content: '';
    width: 11px;
    right: 50%;
    position: absolute;
    top: auto;
    height: 86px;
    background: url(../img/Arrow3.svg) no-repeat center center;
    background-size: contain;
    transform: translateX(50%);
    z-index: 10;
    bottom: calc(100% + 9px);
  }
  .step__card:first-child .step__card-icon::after {
    display: none;
  }
  .step__card-text {
    line-height: 20px;
  }
  .step__card-text br {
    display: none;
  }
  .boost__btn {
    margin: 17px auto 0;
  }
  /* ---------------------footer-------------------- */
  .footer {
    padding: 34px 0 32px;
  }
  .footer__top {
    padding: 0 0 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .footer__top-left {
    height: max-content;
    margin: 0;
    width: max-content;
  }
  .footer__menu {
    width: 100%;
    margin: 16px 0 19px;
    flex-wrap: wrap;
  }
  .footer__socials a {
    font-size: 25px;
    line-height: 25px;
    width: 25px;
    height: 25px;
  }
  .footer__socials {
    margin: 0;
    width: 100%;
    justify-content: center;
  }
  .footer__menu li {
    padding: 0px 11px;
    margin: 5px 0;
  }
  .footer__bottom {
    padding: 32px 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer__logo {
    object-position: center;
    width: 70px;
    height: 36px;
  }
  .footer__bottom {
    font-size: 12px;
  }
  .footer__copyright {
    font-weight: 700;
    margin-bottom: 8px;
  }
  /* -------------------------- */
  .thanks__popup-inner {
    width: 100vw;
    height: 100vh;
  }
}
@media screen and (max-width: 660px) {
  /* -------------------courses------------------- */
  .courses__cards {
    margin: 0;
  }
  .courses__card {
    width: 100%;
    margin: 0 0 32px;
  }
  .courses__card-img {
    height: 43vw;
    min-height: 183px;
  }
  /* ---------------------events------------------ */
  .events__card {
    margin: 8px 0;
  }
  .events__cards {
    margin: 0;
  }
  .events__card-img {
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 16px;
    height: 43vw;
    min-height: 170px;
  }
  .events__card-info {
    height: max-content;
  }
  .events__card {
    border-radius: 20px;
  }
  .events__card {
    width: 100%;
  }
  .events__card-title br {
    display: none;
  }
  .events__btn {
    margin: 24px auto 0;
  }
  .nav-links {
    margin: 29px auto 0;
  }
  .prev.page-numbers,
  .next.page-numbers {
    border: none;
    font-size: 20px;
  }
  .prev.page-numbers.not-active,
  .next.page-numbers.not-active {
    border: none;
  }
  /* --------------------reviews----------------------- */
  .reviews {
    padding: 66px 0;
    background: #eeeef0;
    background-blend-mode: overlay;
  }
  .reviews__title {
    margin-bottom: 27px;
  }
  .reviews__img.slick-slide.slick-current.slick-active.slick-center {
    transform: none;
  }
  .reviews__img.slick-slide:not(.slick-active) {
    opacity: 1;
  }
  .reviews__img.slick-slide {
    transform: scale(1) translate(-20px);
  }
  .reviews__img.slick-slide.slick-center + .slick-slide {
    transform: scale(1) translate(20px);
  }
  .reviews__img.slick-slide:not(.slick-center) {
    filter: blur(1.1px);
  }
  .reviews__slider .slick-track {
    padding: 0 0 41px;
  }
  .reviews__container {
    margin: 0 -16px;
  }
  .reviews__slider .slick-dots {
    bottom: -10px;
  }
  .reviews__slider .logos__list-arrow.next-arrow {
    bottom: -11px;
  }
  .reviews__slider .logos__list-arrow.prev-arrow {
    bottom: -11px;
  }
  .slick-dots li:nth-child(n + 6) {
    display: none;
  }
  /* --------------------blog-------------------- */
  .blog {
    padding: 64px 0;
  }
  .blog__title {
    color: var(--c-green);
  }
  .blog-img__bg1 {
    display: none;
  }
  .blog-img__bg2 {
    display: none;
  }
  .blog-img__bg3 {
    display: none;
  }
  .blog-img__bg4 {
    display: none;
  }
  .blog__card {
    width: 100%;
    margin: 0 0 16px;
  }
  .blog__cards {
    margin: 0;
  }
  .blog__btn {
    margin: 16px auto 0;
  }
  /* -------------------subscribe------------------ */
  .subscribe__right {
    display: none;
  }
  .subscribe {
    padding: 66px 0 64px;
  }
  .subscribe__left {
    padding-bottom: 0;
    width: 100%;
    margin: 0;
  }
  .subscribe::after {
    display: none;
  }
  .subscribe-img__bg2 {
    width: 250px;
    height: 250px;
    left: -196px;
    top: -42px;
  }
  .subscribe-img__bg3 {
    display: flex;
    width: 250px;
    height: 250px;
    background: url(../img/icons/dots_460x460.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    right: -158px;
    top: -88px;
    z-index: -1;
  }
  .subscribe__container {
    margin: 0;
  }
  .subscribe::before {
    display: none;
  }
  .subscribe__title {
    text-align: center;
  }
  .subscribe__subtitle {
    text-align: center;
    margin-bottom: 32px;
  }
  .form-btn {
    width: 156px;
    min-width: 156px;
  }
  .form-input {
    font-size: 12px;
    padding: 0 160px 0 20px;
  }
}
