@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 171, ../sass/screen.scss */
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.4;
  color: #97b0e3;
  background: #06192f;
  max-width: 1920px;
}

/* line 181, ../sass/screen.scss */
.main_page * {
  box-sizing: border-box;
  --color-text: #97b0e3;
  --color-red-1: #e8454a;
  --color-pink: #e53972;
  --color-bg: #06192f;
}
/* line 190, ../sass/screen.scss */
.main_page .container {
  max-width: 1284px;
  margin: auto;
}
/* line 194, ../sass/screen.scss */
.main_page .img_responsive {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
/* line 200, ../sass/screen.scss */
.main_page .my_btn {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 235px;
  text-align: center;
  cursor: pointer;
  background: #7BA5E3;
  transition: all .2s linear;
  padding: 22px 10px;
  color: #fff;
  overflow: hidden;
  z-index: 0;
  font-weight: 800;
  font-size: 24px;
  border: 1px solid #7BA5E3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  position: relative;
}
/* line 150, ../sass/screen.scss */
.main_page .my_btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: initial;
  right: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: all .3s linear;
  z-index: -1;
}
/* line 162, ../sass/screen.scss */
.main_page .my_btn:hover {
  color: #7BA5E3;
}
/* line 164, ../sass/screen.scss */
.main_page .my_btn:hover::before {
  right: initial;
  left: 0;
  width: 100%;
}
/* line 218, ../sass/screen.scss */
.main_page .my_btn::before {
  background: #fff;
}
/* line 221, ../sass/screen.scss */
.main_page .my_btn:hover {
  color: #7BA5E3;
}
/* line 225, ../sass/screen.scss */
.main_page h1 {
  font-family: 'Slackey', cursive;
  display: inline-block;
  font-size: 60px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 3px solid #fff;
}
/* line 234, ../sass/screen.scss */
.main_page h2 {
  font-family: 'Slackey', cursive;
  font-size: 84px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
/* line 241, ../sass/screen.scss */
.main_page h3 {
  font-family: 'Slackey', cursive;
  font-size: 56px;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
}
/* line 248, ../sass/screen.scss */
.main_page h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  text-align: left;
}
/* line 256, ../sass/screen.scss */
.main_page h5 {
  font-size: 40px;
  margin: 0;
}
/* line 261, ../sass/screen.scss */
.main_page p {
  margin: 0;
}
/* line 264, ../sass/screen.scss */
.main_page a {
  color: var(--color-text);
  transition: all .25s linear;
}
/* line 268, ../sass/screen.scss */
.main_page .area_for_moove-1 {
  position: absolute;
}
/* line 270, ../sass/screen.scss */
.main_page .area_for_moove-1 .box_inner {
  position: relative;
}
/* line 274, ../sass/screen.scss */
.main_page .box_figure {
  position: absolute;
}
/* line 276, ../sass/screen.scss */
.main_page .box_figure img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 282, ../sass/screen.scss */
.main_page .box_title {
  text-align: center;
}
/* line 284, ../sass/screen.scss */
.main_page .box_title h2 {
  font-size: 20px;
  font-weight: 600;
  color: #bcc7d3;
  text-transform: uppercase;
  text-align: center;
}
/* line 291, ../sass/screen.scss */
.main_page .box_title p {
  font-size: 48px;
  font-weight: 600;
  margin-top: 33px;
}
/* line 297, ../sass/screen.scss */
.main_page header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 40px;
  z-index: 2;
  padding: 16px 20px 17px;
}
/* line 305, ../sass/screen.scss */
.main_page header .container {
  margin: auto;
  position: relative;
  padding-left: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
/* line 313, ../sass/screen.scss */
.main_page header .container .logo {
  display: block;
}
/* line 315, ../sass/screen.scss */
.main_page header .container .logo .strong {
  float: left;
  text-align: left;
}
/* line 318, ../sass/screen.scss */
.main_page header .container .logo .strong img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 64px;
}
/* line 326, ../sass/screen.scss */
.main_page header .container .box_mobile_button {
  display: none;
}
/* line 329, ../sass/screen.scss */
.main_page header .container .main_link {
  display: inline-block;
  color: #fff;
  background: var(--color-red-1);
  padding: 15px;
  font-size: 42px;
  font-family: 'Roboto';
  font-weight: 700;
  border-radius: 30px;
  min-width: 176px;
  bottom: -10px;
  transform: rotate(-7deg);
  text-decoration: none;
  text-align: center;
  transition: all .25s linear;
}
/* line 344, ../sass/screen.scss */
.main_page header .container .main_link::before {
  content: none;
}
/* line 347, ../sass/screen.scss */
.main_page header .container .main_link:hover {
  background: var(--color-pink);
  box-shadow: 0 0 35px 0 var(--color-pink);
}
/* line 352, ../sass/screen.scss */
.main_page header .container nav {
  display: block;
  width: 100%;
  max-width: 660px;
  text-align: center;
  position: relative;
  margin-top: 10px;
  z-index: 1;
}
/* line 360, ../sass/screen.scss */
.main_page header .container nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
/* line 368, ../sass/screen.scss */
.main_page header .container nav ul li {
  display: inline-block;
}
/* line 370, ../sass/screen.scss */
.main_page header .container nav ul li.main_li {
  max-height: 50px;
}
/* line 373, ../sass/screen.scss */
.main_page header .container nav ul li a {
  font-size: 26px;
  font-style: italic;
  display: block;
  padding: 5px 0px 0;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
}
/* line 131, ../sass/screen.scss */
.main_page header .container nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: initial;
  right: 0;
  width: 0;
  height: 2px;
  background: #97b0e3;
  transition: all .3s linear;
}
/* line 142, ../sass/screen.scss */
.main_page header .container nav ul li a:hover::before {
  right: initial;
  left: 0;
  width: 100%;
}
/* line 390, ../sass/screen.scss */
.main_page header .container nav .box_wallet {
  display: none;
}
/* line 394, ../sass/screen.scss */
.main_page header .container .box_wallet {
  width: 100%;
  max-width: 198px;
  margin-top: 8px;
}
/* line 398, ../sass/screen.scss */
.main_page header .container .box_wallet .link_wallet {
  display: block;
  font-size: 20px;
  color: #ff8b8f;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px dashed #ff8b8f;
  padding: 8px 10px;
  border-radius: 10px;
  text-align: center;
}
/* line 408, ../sass/screen.scss */
.main_page header .container .box_wallet .link_wallet:hover {
  color: var(--color-pink);
  border-color: var(--color-pink);
}
/* line 414, ../sass/screen.scss */
.main_page header .container .burger {
  display: none;
  position: absolute;
  top: 15px;
  right: 25px;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  width: 42px;
  height: 35px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1000;
}
/* line 430, ../sass/screen.scss */
.main_page header .container .burger span {
  position: absolute;
  left: 12px;
  top: 19px;
  text-indent: 9900px;
  width: 26px;
  height: 1px;
  background: #7BA5E3;
  box-shadow: 0 0 0 1px #7BA5E3;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
/* line 442, ../sass/screen.scss */
.main_page header .container .burger:before,
.main_page header .container .burger:after {
  content: '';
  position: absolute;
  left: 12px;
  top: 12px;
  width: 26px;
  height: 1px;
  background: #7BA5E3;
  box-shadow: 0 0 0 1px #7BA5E3;
  -webkit-transition: -webkit-transform .2s ease-out, top .2s .2s ease-out;
  transition: transform .2s ease-out, top .2s .2s ease-out;
}
/* line 455, ../sass/screen.scss */
.main_page header .container .burger:after {
  top: 26px;
}
/* line 460, ../sass/screen.scss */
.main_page header .menu-opened .burger:before,
.main_page header .menu-opened .burger:after {
  top: 19px;
  -webkit-transition: top .2s ease-out, -webkit-transform .2s .2s ease-out;
  transition: top .2s ease-out, transform .2s .2s ease-out;
}
/* line 466, ../sass/screen.scss */
.main_page header .menu-opened .burger:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 471, ../sass/screen.scss */
.main_page header .menu-opened .burger:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 476, ../sass/screen.scss */
.main_page header .menu-opened .burger span {
  opacity: 0;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
}
/* line 484, ../sass/screen.scss */
.main_page .header-scroll {
  background-color: rgba(24, 45, 81, 0.8);
}
/* line 486, ../sass/screen.scss */
.main_page .header-scroll .container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 488, ../sass/screen.scss */
.main_page .header-scroll .container nav {
  margin-top: 0;
}
/* line 490, ../sass/screen.scss */
.main_page .header-scroll .container nav ul {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 494, ../sass/screen.scss */
.main_page .header-scroll .container .main_li {
  max-height: 100%;
}
/* line 497, ../sass/screen.scss */
.main_page .header-scroll .container .main_link {
  display: block;
  padding: 14px;
  font-size: 30px;
  border-radius: 22px;
  min-width: 130px;
  bottom: 0px;
  transform: rotate(0deg);
}
/* line 506, ../sass/screen.scss */
.main_page .header-scroll .container .box_wallet {
  margin-top: 0;
}
/* line 511, ../sass/screen.scss */
.main_page .section-1 {
  background-image: url(../images/main_bg_png.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 97px 20px 93px;
}
/* line 518, ../sass/screen.scss */
.main_page .section-1 .box_content .box_video {
  position: relative;
}
/* line 520, ../sass/screen.scss */
.main_page .section-1 .box_content .box_video video {
  border: 2px solid #000;
  width: 100%;
  height: auto;
}
/* line 525, ../sass/screen.scss */
.main_page .section-1 .box_content .box_video .toggle_sound {
  position: absolute;
  top: 16px;
  right: 8px;
  width: 51px;
  height: 43px;
  background-image: url(../images/icon_sound_off.webp);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
/* line 535, ../sass/screen.scss */
.main_page .section-1 .box_content .box_video .toggle_sound.active {
  background-image: url(../images/icon_sound_on.webp);
}
/* line 540, ../sass/screen.scss */
.main_page .section-1 .box_content .box_text {
  padding: 10px 60px;
  margin-top: 54px;
}
/* line 543, ../sass/screen.scss */
.main_page .section-1 .box_content .box_text p {
  margin-top: 31px;
  text-align: justify;
}
/* line 550, ../sass/screen.scss */
.main_page .section-2 {
  padding: 50px 20px 65px;
}
/* line 552, ../sass/screen.scss */
.main_page .section-2 .box_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 1170px;
}
/* line 14, ../sass/screen.scss */
.main_page .section-2 .box_content .box_left,
.main_page .section-2 .box_content .box_right {
  width: 50%;
}
/* line 555, ../sass/screen.scss */
.main_page .section-2 .box_content .box_left {
  width: 48.5%;
}
/* line 557, ../sass/screen.scss */
.main_page .section-2 .box_content .box_left .box_img {
  margin-top: 117px;
}
/* line 559, ../sass/screen.scss */
.main_page .section-2 .box_content .box_left .box_img img {
  display: block;
  width: 100%;
  height: auto;
  border: 2px solid #000;
  border-radius: 28px;
}
/* line 567, ../sass/screen.scss */
.main_page .section-2 .box_content .box_left .box_bottom {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 23px;
}
/* line 570, ../sass/screen.scss */
.main_page .section-2 .box_content .box_left .box_bottom .box {
  width: 50%;
}
/* line 572, ../sass/screen.scss */
.main_page .section-2 .box_content .box_left .box_bottom .box p {
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
}
/* line 578, ../sass/screen.scss */
.main_page .section-2 .box_content .box_left .box_bottom .box .number {
  font-family: 'Slackey', cursive;
  font-size: 77px;
  color: var(--color-red-1);
}
/* line 586, ../sass/screen.scss */
.main_page .section-2 .box_content .box_right {
  width: 51.5%;
}
/* line 588, ../sass/screen.scss */
.main_page .section-2 .box_content .box_right .box_inner {
  max-width: 420px;
  margin-left: auto;
}
/* line 591, ../sass/screen.scss */
.main_page .section-2 .box_content .box_right .box_inner .box_text {
  margin-top: 20px;
}
/* line 593, ../sass/screen.scss */
.main_page .section-2 .box_content .box_right .box_inner .box_text .box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px 0;
}
/* line 598, ../sass/screen.scss */
.main_page .section-2 .box_content .box_right .box_inner .box_text .box:not(:last-of-type) {
  border-bottom: 3px solid #14304f;
}
/* line 601, ../sass/screen.scss */
.main_page .section-2 .box_content .box_right .box_inner .box_text .box p {
  font-size: 29px;
  text-transform: uppercase;
}
/* line 605, ../sass/screen.scss */
.main_page .section-2 .box_content .box_right .box_inner .box_text .box p:first-of-type {
  font-family: 'Slackey', cursive;
  color: var(--color-red-1);
  font-size: 49px;
}
/* line 616, ../sass/screen.scss */
.main_page .section-3 {
  padding: 50px 20px 185px;
  background-image: url(../images/main_bg_png.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* line 622, ../sass/screen.scss */
.main_page .section-3 .box_content {
  max-width: 1300px;
  margin-top: 42px;
}
/* line 625, ../sass/screen.scss */
.main_page .section-3 .box_content .box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin-top: 47px;
}
/* line 629, ../sass/screen.scss */
.main_page .section-3 .box_content .box .box_mini {
  max-width: 412px;
}
/* line 631, ../sass/screen.scss */
.main_page .section-3 .box_content .box .box_mini:nth-of-type(2) {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 636, ../sass/screen.scss */
.main_page .section-3 .box_content .box .box_mini .box_img img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 642, ../sass/screen.scss */
.main_page .section-3 .box_content .box .box_mini .box_title {
  margin-top: 36px;
  padding: 0 20px;
}
/* line 645, ../sass/screen.scss */
.main_page .section-3 .box_content .box .box_mini .box_title .main_link {
  display: block;
  text-decoration: none;
  width: 100%;
  max-width: 350px;
  margin: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 41px;
  text-align: center;
  background: var(--color-red-1);
  transition: all .25s linear;
  padding: 15px;
  border-radius: 25px;
  color: #fff;
}
/* line 660, ../sass/screen.scss */
.main_page .section-3 .box_content .box .box_mini .box_title .main_link:hover {
  background: var(--color-pink);
  box-shadow: 0 0 35px 0 var(--color-pink);
}
/* line 674, ../sass/screen.scss */
.main_page .section-4 .box_content .box_slider .item img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 683, ../sass/screen.scss */
.main_page .section-5 {
  padding: 50px 20px 178px;
  background-image: url(../images/main_bg_png.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* line 689, ../sass/screen.scss */
.main_page .section-5 .box_content {
  max-width: 855px;
  margin: 90px auto 0;
}
/* line 692, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase {
  margin-top: 106px;
}
/* line 694, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase {
  position: relative;
  padding-left: 105px;
}
/* line 697, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase:not(:first-of-type) {
  padding-top: 75px;
}
/* line 701, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_progress .box_scale {
  position: absolute;
  width: 10px;
  bottom: 50px;
  top: 12px;
  left: 40px;
  background: #98b1e4;
  overflow: hidden;
}
/* line 709, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_progress .box_scale .progress_bar {
  background: #e5398e;
  width: 100%;
  height: 0%;
}
/* line 715, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_progress .box_circle {
  position: absolute;
  bottom: -14px;
  left: 12px;
  width: 65px;
  height: 65px;
  background: transparent;
  box-shadow: inset 0 0 0 12px #98b1e4;
  border-radius: 50%;
  z-index: 1;
}
/* line 725, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_progress .box_circle .circle_inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #e5398e;
  border-radius: 50%;
  opacity: 0;
}
/* line 734, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_progress .box_circle .circle_inner::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 21px;
  width: 15px;
  height: 30px;
  border-bottom: 7px solid #fff;
  border-right: 7px solid #fff;
  transform: rotate(45deg);
}
/* line 748, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_text {
  padding: 25px 30px 37px 50px;
  background: var(--color-bg);
  box-shadow: 0 0 20px 1px #1e3f5b;
  max-width: 745px;
  margin-left: auto;
  position: relative;
}
/* line 755, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_text::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -40px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: var(--color-bg);
}
/* line 765, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_text .box_title {
  text-align: left;
}
/* line 767, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_text .box_title p {
  font-family: 'Slackey', cursive;
  font-size: 31px;
  display: inline-block;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 0;
}
/* line 776, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_text ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  margin-top: 12px;
}
/* line 781, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_text ul li {
  color: #d4d6d8;
  position: relative;
  padding-left: 15px;
}
/* line 785, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_text ul li:not(:first-of-type) {
  margin-top: 20px;
}
/* line 788, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase .box_text ul li::before {
  content: '·';
  position: absolute;
  top: 1px;
  left: 0;
}
/* line 799, ../sass/screen.scss */
.main_page .section-5 .box_content .box_scale_phase .box_phase.box_phase-1 .box_progress .box_scale {
  top: auto;
  height: 1px;
  bottom: 45px;
}
/* line 810, ../sass/screen.scss */
.main_page .section-6 {
  padding: 50px 20px 125px;
}
/* line 812, ../sass/screen.scss */
.main_page .section-6 .box_content {
  max-width: 1166px;
  margin: 24px auto 0;
}
/* line 815, ../sass/screen.scss */
.main_page .section-6 .box_content .box {
  margin-top: 55px;
}
/* line 818, ../sass/screen.scss */
.main_page .section-6 .box_content .box .box_mini:not(:first-of-type) {
  margin-top: 46px;
}
/* line 821, ../sass/screen.scss */
.main_page .section-6 .box_content .box .box_mini .box_title {
  cursor: pointer;
}
/* line 823, ../sass/screen.scss */
.main_page .section-6 .box_content .box .box_mini .box_title h4 {
  position: relative;
  padding-right: 40px;
}
/* line 826, ../sass/screen.scss */
.main_page .section-6 .box_content .box .box_mini .box_title h4::after {
  content: '+';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 834, ../sass/screen.scss */
.main_page .section-6 .box_content .box .box_mini .box_title.active h4::after {
  content: '-';
  font-size: 40px;
  right: 2px;
}
/* line 840, ../sass/screen.scss */
.main_page .section-6 .box_content .box .box_mini .box_text {
  margin-top: 6px;
  display: none;
}
/* line 843, ../sass/screen.scss */
.main_page .section-6 .box_content .box .box_mini .box_text ul {
  margin: 0px 0 0;
  padding-left: 0;
  list-style-type: none;
}
/* line 847, ../sass/screen.scss */
.main_page .section-6 .box_content .box .box_mini .box_text ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  color: var(--color-text);
}
/* line 858, ../sass/screen.scss */
.main_page .section-7 {
  padding: 94px 20px 92px;
  text-align: center;
  background-image: url(../images/main_bg_png.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* line 865, ../sass/screen.scss */
.main_page .section-7 h2 {
  margin-top: 28px;
}
/* line 868, ../sass/screen.scss */
.main_page .section-7 .box_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin: 48px auto 0;
}
/* line 872, ../sass/screen.scss */
.main_page .section-7 .box_content .box_mini {
  max-width: 310px;
  padding: 0 10px;
}
/* line 876, ../sass/screen.scss */
.main_page .section-7 .box_content .box_mini .box_img img {
  display: block;
  width: 100%;
  max-width: 263px;
  height: auto;
  margin: auto;
  border-radius: 50%;
}
/* line 885, ../sass/screen.scss */
.main_page .section-7 .box_content .box_mini .box_text {
  margin: 41px auto 0;
}
/* line 888, ../sass/screen.scss */
.main_page .section-7 .box_content .box_mini .box_text h5 img {
  display: inline-block;
}
/* line 892, ../sass/screen.scss */
.main_page .section-7 .box_content .box_mini .box_text p {
  margin-top: 5px;
  line-height: 1.2;
  font-size: 27px;
  color: #c9c9c9;
}
/* line 901, ../sass/screen.scss */
.main_page .section-7 .box_content .box_mini.box_mini-1 .box_text h5 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
/* line 911, ../sass/screen.scss */
.main_page .footer {
  position: static;
  background: #2d4568;
  padding: 40px 10px 50px;
}
/* line 916, ../sass/screen.scss */
.main_page .footer .container .logo {
  display: block;
  max-width: 160px;
  margin: auto;
}
/* line 920, ../sass/screen.scss */
.main_page .footer .container .logo img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 926, ../sass/screen.scss */
.main_page .footer .container .box_text {
  margin-top: 29px;
}
/* line 928, ../sass/screen.scss */
.main_page .footer .container .box_text p {
  font-size: 25px;
  color: #fff;
  text-align: center;
}
/* line 934, ../sass/screen.scss */
.main_page .footer .container .box_messendger {
  max-width: 170px;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 940, ../sass/screen.scss */
.main_page .footer .container .box_messendger .link {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 944, ../sass/screen.scss */
.main_page .footer .container .box_messendger .link.link_twitter {
  background-image: url(../images/icon-twitter.svg);
  width: 42px;
  height: 37px;
}
/* line 949, ../sass/screen.scss */
.main_page .footer .container .box_messendger .link.link_discord {
  background-image: url(../images/icon-discord.svg);
  width: 48px;
  height: 37px;
}
/* line 954, ../sass/screen.scss */
.main_page .footer .container .box_messendger .link.link_opensea {
  background-image: url(../images/icon-opensea.svg);
  width: 38px;
  height: 38px;
}
/* line 963, ../sass/screen.scss */
.main_page #toTop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 39px;
  height: 40px;
  border-radius: 7px;
  background: var(--color-bg);
  cursor: pointer;
  opacity: 0.5;
  transition: all .25s linear;
  z-index: 999;
  border: 1px solid #fff;
}
/* line 976, ../sass/screen.scss */
.main_page #toTop span {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 981, ../sass/screen.scss */
.main_page #toTop span::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 23px;
  width: 17px;
  height: 17px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  -moz-transform: rotate(-45deg) translate(-50%, -50%);
  -o-transform: rotate(-45deg) translate(-50%, -50%);
  -ms-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%);
}
/* line 997, ../sass/screen.scss */
.main_page #toTop:hover {
  opacity: 1;
}
/* line 1001, ../sass/screen.scss */
.main_page .box_socials {
  position: fixed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background: rgba(6, 25, 47, 0.3);
}
/* line 1009, ../sass/screen.scss */
.main_page .box_socials .box_inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 1014, ../sass/screen.scss */
.main_page .box_socials .link {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 1018, ../sass/screen.scss */
.main_page .box_socials .link:not(:first-of-type) {
  margin-top: 25px;
}
/* line 1021, ../sass/screen.scss */
.main_page .box_socials .link.link_twitter {
  background-image: url(../images/icon-twitter2.webp);
  width: 46px;
  height: 38px;
}
/* line 1025, ../sass/screen.scss */
.main_page .box_socials .link.link_twitter:hover {
  background-image: url(../images/icon-twitter2-hover.webp);
}
/* line 1029, ../sass/screen.scss */
.main_page .box_socials .link.link_discord {
  background-image: url(../images/icon-discord2.webp);
  width: 44px;
  height: 34px;
}
/* line 1033, ../sass/screen.scss */
.main_page .box_socials .link.link_discord:hover {
  background-image: url(../images/icon-discord2-hover.webp);
}
/* line 1037, ../sass/screen.scss */
.main_page .box_socials .link.link_opensea {
  background-image: url(../images/icon-opensea2.webp);
  width: 44px;
  height: 44px;
}
/* line 1041, ../sass/screen.scss */
.main_page .box_socials .link.link_opensea:hover {
  background-image: url(../images/icon-opensea2-hover.webp);
}
@media (max-width: 1300px) {
  /* line 1051, ../sass/screen.scss */
  .main_page h5 {
    font-size: 36px;
  }
  /* line 1054, ../sass/screen.scss */
  .main_page .section-7 .box_content .box_mini {
    max-width: 275px;
    padding: 0 10px;
  }
}
@media (max-width: 1200px) {
  /* line 1060, ../sass/screen.scss */
  .main_page h1 {
    font-size: 60px;
  }
  /* line 1063, ../sass/screen.scss */
  .main_page h5 {
    font-size: 30px;
  }
  /* line 1068, ../sass/screen.scss */
  .main_page header .container .main_link {
    padding: 10px;
    font-size: 34px;
    min-width: 150px;
  }
  /* line 1073, ../sass/screen.scss */
  .main_page header .container nav {
    padding: 0 10px;
  }
  /* line 1078, ../sass/screen.scss */
  .main_page .section-3 h2 {
    font-size: 70px;
  }
  /* line 1081, ../sass/screen.scss */
  .main_page .section-7 .box_content .box_mini {
    max-width: 230px;
    padding: 0 10px;
  }
  /* line 1084, ../sass/screen.scss */
  .main_page .section-7 .box_content .box_mini .box_text p {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  /* line 1090, ../sass/screen.scss */
  .main_page h2 {
    font-size: 64px;
  }
  /* line 1094, ../sass/screen.scss */
  .main_page header .container .main_link {
    padding: 8px;
    font-size: 24px;
    min-width: 125px;
  }
  /* line 1099, ../sass/screen.scss */
  .main_page header .container nav {
    margin-top: 7px;
  }
  /* line 1102, ../sass/screen.scss */
  .main_page header .container nav ul li a {
    padding: 10px 8px;
    font-size: 16px;
  }
  /* line 1106, ../sass/screen.scss */
  .main_page header .container nav ul li:not(:last-of-type) a {
    margin-right: 0px;
  }
  /* line 1111, ../sass/screen.scss */
  .main_page header .container .box_wallet {
    max-width: 160px;
  }
  /* line 1113, ../sass/screen.scss */
  .main_page header .container .box_wallet .link_wallet {
    font-size: 16px;
  }
  /* line 1118, ../sass/screen.scss */
  .main_page .section-1 .box_content .box_text {
    padding: 10px 20px;
  }
  /* line 1122, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_left {
    width: 55%;
  }
  /* line 1124, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_left .box_bottom .box {
    font-size: 20px;
  }
  /* line 1126, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_left .box_bottom .box p {
    font-size: 20px;
  }
  /* line 1129, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_left .box_bottom .box .number {
    font-family: 'Slackey', cursive;
    font-size: 56px;
    color: var(--color-red-1);
  }
  /* line 1136, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_right {
    width: 45%;
    padding-left: 10px;
  }
  /* line 1140, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_right .box_inner .box_text .box p:last-of-type {
    font-size: 26px;
  }
  /* line 1143, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_right .box_inner .box_text .box p:first-of-type {
    font-size: 36px;
  }
  /* line 1150, ../sass/screen.scss */
  .main_page .section-3 .box_content h2 {
    font-size: 52px;
  }
  /* line 1153, ../sass/screen.scss */
  .main_page .section-3 .box_content .box .box_mini .box_title {
    margin-top: 28px;
  }
  /* line 1155, ../sass/screen.scss */
  .main_page .section-3 .box_content .box .box_mini .box_title .main_link {
    max-width: 350px;
    font-size: 30px;
    padding: 8px;
    border-radius: 18px;
  }
  /* line 1163, ../sass/screen.scss */
  .main_page .section-7 {
    padding-bottom: 20px;
  }
  /* line 1165, ../sass/screen.scss */
  .main_page .section-7 .box_content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 1167, ../sass/screen.scss */
  .main_page .section-7 .box_content .box_mini {
    width: 50%;
    max-width: 50%;
    margin-bottom: 70px;
  }
  /* line 1174, ../sass/screen.scss */
  .main_page #toTop img {
    display: none;
  }
  /* line 1177, ../sass/screen.scss */
  .main_page .footer {
    padding: 40px 10px 25px;
  }
}
@media (max-width: 768px) {
  /* line 1182, ../sass/screen.scss */
  .main_page h1 {
    font-size: 50px;
  }
  /* line 1185, ../sass/screen.scss */
  .main_page h2 {
    font-size: 44px;
    text-align: center;
  }
  /* line 1189, ../sass/screen.scss */
  .main_page h3 {
    font-size: 28px;
  }
  /* line 1192, ../sass/screen.scss */
  .main_page h4 {
    font-size: 22px;
  }
  /* line 1195, ../sass/screen.scss */
  .main_page p {
    font-size: 20px;
  }
  /* line 1198, ../sass/screen.scss */
  .main_page header {
    padding: 15px 20px;
  }
  /* line 1200, ../sass/screen.scss */
  .main_page header .container {
    padding: 0px 45px 0px 0px;
  }
  /* line 1202, ../sass/screen.scss */
  .main_page header .container .burger {
    display: block;
  }
  /* line 1205, ../sass/screen.scss */
  .main_page header .container .box_mobile_button {
    display: block;
    margin: auto;
  }
  /* line 1209, ../sass/screen.scss */
  .main_page header .container > .box_wallet {
    display: none;
  }
  /* line 1212, ../sass/screen.scss */
  .main_page header .container nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #06192f;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    -ms-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    border: 1px solid #e6e6e6;
    margin-top: 0;
    text-align: left;
  }
  /* line 1233, ../sass/screen.scss */
  .main_page header .container nav ul {
    list-style-type: none;
    padding: 0;
    max-width: 200px;
    margin: 70px auto 0;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* line 1239, ../sass/screen.scss */
  .main_page header .container nav ul li {
    display: block;
  }
  /* line 1241, ../sass/screen.scss */
  .main_page header .container nav ul li .main_link {
    display: none;
  }
  /* line 1244, ../sass/screen.scss */
  .main_page header .container nav ul li a {
    display: inline-block;
    font-size: 22px;
  }
  /* line 1248, ../sass/screen.scss */
  .main_page header .container nav ul li.main_li {
    display: none;
  }
  /* line 1253, ../sass/screen.scss */
  .main_page header .container nav .box_wallet.for_mobile {
    display: block;
    max-width: 200px;
    margin: 30px auto 0;
  }
  /* line 1259, ../sass/screen.scss */
  .main_page header .container .box_tel {
    margin: 0px 0 5px;
  }
  /* line 1263, ../sass/screen.scss */
  .main_page header .menu-opened nav {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  /* line 1269, ../sass/screen.scss */
  .main_page .header-scroll .container {
    padding: 5px 45px 5px 20px;
  }
  /* line 1272, ../sass/screen.scss */
  .main_page .section-2 .box_content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 23, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_left,
  .main_page .section-2 .box_content .box_right {
    width: 100%;
  }
  /* line 1274, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_left {
    max-width: 500px;
    margin: auto;
  }
  /* line 1277, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_left .box_img {
    margin-top: 60px;
  }
  /* line 1281, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_right {
    margin-top: 100px;
    padding: 0 20px;
  }
  /* line 1284, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_right .box_inner {
    max-width: 100%;
  }
  /* line 1289, ../sass/screen.scss */
  .main_page .section-3 .box_content .box {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* line 1292, ../sass/screen.scss */
  .main_page .section-3 .box_content .box .box_mini {
    margin-top: 90px;
  }
  /* line 1296, ../sass/screen.scss */
  .main_page .section-5 {
    padding: 50px 20px 120px 0;
  }
  /* line 1298, ../sass/screen.scss */
  .main_page .section-5 .box_content {
    margin-top: 25px;
  }
  /* line 1300, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase {
    margin-top: 80px;
  }
  /* line 1302, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase .box_text {
    padding: 25px 15px 37px 20px;
  }
  /* line 1304, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase .box_text .box_title p {
    font-size: 18px;
    margin-left: 10px;
  }
  /* line 1308, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase .box_text ul li {
    font-size: 18px;
  }
  /* line 1316, ../sass/screen.scss */
  .main_page .section-6 .box_content .box .box_mini .box_text p,
  .main_page .section-6 .box_content .box .box_mini .box_text ul li {
    font-size: 18px;
  }
  /* line 1321, ../sass/screen.scss */
  .main_page .section-7 {
    padding-top: 50px;
  }
  /* line 1324, ../sass/screen.scss */
  .main_page .footer .container {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 15px;
  }
  /* line 1327, ../sass/screen.scss */
  .main_page .footer .container .box_tel {
    margin: 25px 0;
  }
  /* line 1331, ../sass/screen.scss */
  .main_page #toTop {
    display: none;
  }
  /* line 1334, ../sass/screen.scss */
  .main_page .slick-prev {
    left: 30%;
  }
  /* line 1337, ../sass/screen.scss */
  .main_page .slick-next {
    right: 30%;
  }
  /* line 1340, ../sass/screen.scss */
  .main_page .slider-2 .slick-next {
    right: 25%;
  }
  /* line 1343, ../sass/screen.scss */
  .main_page .slider-2 .slick-prev {
    left: 25%;
  }
}
@media (max-width: 600px) {
  /* line 1349, ../sass/screen.scss */
  .main_page h1 {
    font-size: 44px;
  }
  /* line 1352, ../sass/screen.scss */
  .main_page .section-7 .box_title p {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  /* line 1357, ../sass/screen.scss */
  .main_page h1 {
    font-size: 44px;
  }
  /* line 1360, ../sass/screen.scss */
  .main_page p {
    font-size: 18px;
  }
  /* line 1364, ../sass/screen.scss */
  .main_page h3 p {
    display: block;
    margin-left: 0;
  }
  /* line 1369, ../sass/screen.scss */
  .main_page h4 {
    font-size: 18px;
  }
  /* line 1372, ../sass/screen.scss */
  .main_page .header-scroll .container .main_link {
    padding: 8px;
    min-width: 120px;
  }
  /* line 1376, ../sass/screen.scss */
  .main_page .section-1 {
    padding: 97px 10px 93px;
  }
  /* line 1378, ../sass/screen.scss */
  .main_page .section-1 .box_content .box_text {
    padding: 10px 10px;
  }
  /* line 1382, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_right {
    padding: 0;
  }
  /* line 1385, ../sass/screen.scss */
  .main_page .section-3 {
    padding-bottom: 120px;
  }
  /* line 1388, ../sass/screen.scss */
  .main_page .section-5 {
    padding-right: 10px;
  }
  /* line 1390, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase {
    padding-left: 85px;
  }
  /* line 1393, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase .box_progress .box_scale {
    position: absolute;
    width: 10px;
    bottom: 35px;
    top: 0px;
    left: 30px;
    background: #98b1e4;
  }
  /* line 1401, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase .box_progress .box_circle {
    bottom: -5px;
    left: 12px;
    width: 45px;
    height: 45px;
    box-shadow: inset 0 0 0 10px #98b1e4;
  }
  /* line 1407, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase .box_progress .box_circle .circle_inner::before {
    content: '';
    top: 6px;
    left: 15px;
    width: 9px;
    height: 20px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
  }
  /* line 1418, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase .box_text ul li {
    font-size: 18px;
  }
  /* line 1423, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase.box_phase-1 .box_progress .box_scale {
    bottom: 35px;
  }
  /* line 1431, ../sass/screen.scss */
  .main_page .section-6 .box_content .box .box_mini:not(:first-of-type) {
    margin-top: 30px;
  }
  /* line 1434, ../sass/screen.scss */
  .main_page .section-6 .box_content .box .box_mini .box_title.active h4::after {
    content: '-';
    font-size: 32px;
    right: 0px;
  }
  /* line 1440, ../sass/screen.scss */
  .main_page .section-6 .box_content .box .box_mini .box_text p,
  .main_page .section-6 .box_content .box .box_mini .box_text ul li {
    font-size: 16px;
  }
  /* line 1446, ../sass/screen.scss */
  .main_page .section-7 .box_content {
    padding-top: 0;
  }
  /* line 1448, ../sass/screen.scss */
  .main_page .section-7 .box_content .box_mini {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  /* line 1454, ../sass/screen.scss */
  .main_page .footer .container .box_text p {
    font-size: 18px;
  }
  /* line 1457, ../sass/screen.scss */
  .main_page .box_socials {
    position: fixed;
    bottom: 0;
    left: 0;
    top: auto;
    transform: translateY(0%);
  }
}
@media (max-width: 400px) {
  /* line 1466, ../sass/screen.scss */
  .main_page h1 {
    font-size: 35px;
  }
  /* line 1469, ../sass/screen.scss */
  .main_page header {
    padding: 15px 10px;
  }
  /* line 1472, ../sass/screen.scss */
  .main_page .header-scroll .container .main_link {
    padding: 4px;
    min-width: 110px;
    border-radius: 18px;
  }
  /* line 1478, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_left .box_bottom .box .number {
    font-size: 44px;
  }
  /* line 1481, ../sass/screen.scss */
  .main_page .section-2 .box_content .box_right .box_inner .box_text .box p:last-of-type {
    font-size: 22px;
  }
  /* line 1485, ../sass/screen.scss */
  .main_page .section-3 .box_content h2 {
    font-size: 40px;
  }
  /* line 1488, ../sass/screen.scss */
  .main_page .section-5 {
    padding-bottom: 90px;
  }
  /* line 1490, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase {
    padding-left: 73px;
  }
  /* line 1493, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase .box_progress .box_scale {
    left: 23px;
  }
  /* line 1496, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase .box_progress .box_circle {
    left: 5px;
  }
  /* line 1500, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase .box_text {
    padding: 25px 10px 37px 13px;
  }
  /* line 1502, ../sass/screen.scss */
  .main_page .section-5 .box_content .box_scale_phase .box_phase .box_text ul li {
    font-size: 14px;
  }
  /* line 1509, ../sass/screen.scss */
  .main_page .slider-2 .slick-dots {
    bottom: 25px;
  }
  /* line 1513, ../sass/screen.scss */
  .main_page .slick-dots {
    bottom: 40px;
  }
}

@-webkit-keyframes animation-figure-1 {
  0% {
    left: 0;
    width: 8.489vw;
    top: -5.9vw;
  }
  50% {
    left: 0;
    width: 19vw;
    top: -5.9vw;
  }
  100% {
    left: 0;
    width: 8.489vw;
    top: -5.9vw;
  }
}
@keyframes animation-figure-1 {
  0% {
    left: 0;
    width: 8.489vw;
    top: -5.9vw;
  }
  50% {
    left: 0;
    width: 19vw;
    top: -5.9vw;
  }
  100% {
    left: 0;
    width: 8.489vw;
    top: -5.9vw;
  }
}
