@font-face {
    font-family: 'NovaPoshta-Regular';
    src: local('NovaPoshta-Regular'), local('NovaPoshta-Regular'), url('../fonts/NovaPoshta-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NovaPoshta-Medium';
    src: local('NovaPoshta-Medium'), local('NovaPoshta-Medium'), url('../fonts/NovaPoshta-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NovaPoshta-Black';
    src: local('NovaPoshta-Black'), local('NovaPoshta-Black'), url('../fonts/NovaPoshta-Black.woff') format('woff');
    font-weight: 900;
    font-style: Black;
}


