/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 258, ../sass/screen.scss */
body {
  font-family: "NovaPoshta-Regular", sans-serif;
  max-width: 1920px;
  margin: 0 auto 0;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  color: #000;
  background: #ffffff;
}

/* line 268, ../sass/screen.scss */
.quiz_page {
  --red-color: #DA292B;
  --green-color: #8FE2B0;
  --dark-color: #33332F;
}
/* line 272, ../sass/screen.scss */
.quiz_page * {
  box-sizing: border-box;
}
/* line 275, ../sass/screen.scss */
.quiz_page .box_content {
  max-width: 1440px;
  margin: auto;
}
/* line 279, ../sass/screen.scss */
.quiz_page .img_responsive {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
/* line 285, ../sass/screen.scss */
.quiz_page .my_btn {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background: var(--red-color);
  transition: all .2s linear !important;
  color: #fff;
  overflow: hidden;
  z-index: 0;
  font-size: 22px;
  padding: 20px 22px;
  max-width: 219px;
  border-radius: 8px;
  font-weight: 400;
  border: 1px solid var(--main-color);
}
/* line 172, ../sass/screen.scss */
.quiz_page .my_btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
/* line 186, ../sass/screen.scss */
.quiz_page .my_btn:hover {
  color: #fff;
}
/* line 189, ../sass/screen.scss */
.quiz_page .my_btn:hover::before {
  width: 100%;
}
/* line 303, ../sass/screen.scss */
.quiz_page .my_btn.btn_false {
  background: var(--dark-color);
}
/* line 306, ../sass/screen.scss */
.quiz_page .my_btn::before {
  background: #fff;
}
/* line 309, ../sass/screen.scss */
.quiz_page .my_btn:hover {
  color: var(--dark-color);
}
/* line 313, ../sass/screen.scss */
.quiz_page .box_for_btn {
  color: var(--main-color);
  text-align: center;
  position: relative;
  right: -212px;
}
/* line 318, ../sass/screen.scss */
.quiz_page .box_for_btn .link {
  position: relative;
  padding: 20px 22px;
  background: var(--main-color);
  display: inline-block;
  width: 100%;
  max-width: 250px;
  text-align: center;
  cursor: pointer;
}
/* line 326, ../sass/screen.scss */
.quiz_page .box_for_btn .link .title {
  font-family: 'Bebas Neue';
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
}
/* line 333, ../sass/screen.scss */
.quiz_page .box_for_btn .link:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: box-shadow .2s ease-out, opacity .2s ease-out;
  box-shadow: inset 0 0 0 2px #fff;
  opacity: 0;
}
/* line 344, ../sass/screen.scss */
.quiz_page .box_for_btn .link:hover::after {
  opacity: 1;
  box-shadow: inset 0 0 0 2px #fff;
}
/* line 349, ../sass/screen.scss */
.quiz_page .box_for_btn .link .line {
  background: #fff;
  display: block;
  position: absolute;
  transform-style: preserve-3d;
}
/* line 355, ../sass/screen.scss */
.quiz_page .box_for_btn .link .line.line-1 {
  left: 0;
  bottom: 0;
  width: 2px;
  -webkit-animation: zp-button-move-1 2s ease infinite;
  animation: zp-button-move-1 2s ease infinite;
}
/* line 362, ../sass/screen.scss */
.quiz_page .box_for_btn .link .line.line-2 {
  left: 0;
  top: 0;
  height: 2px;
  -webkit-animation: zp-button-move-2 2s ease infinite;
  animation: zp-button-move-2 2s ease infinite;
}
/* line 369, ../sass/screen.scss */
.quiz_page .box_for_btn .link .line.line-3 {
  right: 0;
  top: 0;
  width: 2px;
  -webkit-animation: zp-button-move-3 2s ease infinite;
  animation: zp-button-move-3 2s ease infinite;
}
/* line 376, ../sass/screen.scss */
.quiz_page .box_for_btn .link .line.line-4 {
  right: 0;
  bottom: 0;
  height: 2px;
  -webkit-animation: zp-button-move-4 2s ease infinite;
  animation: zp-button-move-4 2s ease infinite;
}
/* line 385, ../sass/screen.scss */
.quiz_page h1 {
  font-size: 50px;
  line-height: 1.3;
  font-weight: 700;
  margin: 0;
}
/* line 391, ../sass/screen.scss */
.quiz_page h3 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
/* line 396, ../sass/screen.scss */
.quiz_page h3 span {
  display: block;
  color: var(--red-color);
}
/* line 401, ../sass/screen.scss */
.quiz_page h4 {
  font-size: 30px;
  font-weight: 500;
}
/* line 405, ../sass/screen.scss */
.quiz_page p {
  margin: 0;
}
/* line 408, ../sass/screen.scss */
.quiz_page a {
  font-size: 14px;
  color: var(--color-text);
  text-decoration: none;
  transition: all .15s linear;
}
/* line 413, ../sass/screen.scss */
.quiz_page a:hover {
  color: var(--main-color);
}
/* line 417, ../sass/screen.scss */
.quiz_page header {
  position: relative;
  z-index: 1;
}
/* line 420, ../sass/screen.scss */
.quiz_page header .box_content {
  padding: 15px 0 15px 165px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}
/* line 423, ../sass/screen.scss */
.quiz_page header .box_content .logo {
  display: block;
  width: 100%;
  max-width: 285px;
}
/* line 427, ../sass/screen.scss */
.quiz_page header .box_content .logo img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 439, ../sass/screen.scss */
.quiz_page .section-1 .box_content,
.quiz_page .section-2 .box_content,
.quiz_page .section-3 .box_content,
.quiz_page .section-4 .box_content {
  background: #bdd6e6;
  padding: 219px 0px 0;
}
/* line 442, ../sass/screen.scss */
.quiz_page .section-1 .box_content .box_top,
.quiz_page .section-2 .box_content .box_top,
.quiz_page .section-3 .box_content .box_top,
.quiz_page .section-4 .box_content .box_top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 14, ../sass/screen.scss */
.quiz_page .section-1 .box_content .box_top .box_left,
.quiz_page .section-1 .box_content .box_top .box_right,
.quiz_page .section-2 .box_content .box_top .box_left,
.quiz_page .section-2 .box_content .box_top .box_right,
.quiz_page .section-3 .box_content .box_top .box_left,
.quiz_page .section-3 .box_content .box_top .box_right,
.quiz_page .section-4 .box_content .box_top .box_left,
.quiz_page .section-4 .box_content .box_top .box_right {
  width: 50%;
}
/* line 445, ../sass/screen.scss */
.quiz_page .section-1 .box_content .box_top .box_left .box,
.quiz_page .section-2 .box_content .box_top .box_left .box,
.quiz_page .section-3 .box_content .box_top .box_left .box,
.quiz_page .section-4 .box_content .box_top .box_left .box {
  max-width: 285px;
  margin: auto;
}
/* line 449, ../sass/screen.scss */
.quiz_page .section-1 .box_content .box_top .box_left .box .box_img img,
.quiz_page .section-2 .box_content .box_top .box_left .box .box_img img,
.quiz_page .section-3 .box_content .box_top .box_left .box .box_img img,
.quiz_page .section-4 .box_content .box_top .box_left .box .box_img img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 455, ../sass/screen.scss */
.quiz_page .section-1 .box_content .box_top .box_left .box .box_text,
.quiz_page .section-2 .box_content .box_top .box_left .box .box_text,
.quiz_page .section-3 .box_content .box_top .box_left .box .box_text,
.quiz_page .section-4 .box_content .box_top .box_left .box .box_text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background: var(--red-color);
  padding: 11px 15px;
  margin-top: 9px;
}
/* line 461, ../sass/screen.scss */
.quiz_page .section-1 .box_content .box_top .box_left .box .box_text p,
.quiz_page .section-2 .box_content .box_top .box_left .box .box_text p,
.quiz_page .section-3 .box_content .box_top .box_left .box .box_text p,
.quiz_page .section-4 .box_content .box_top .box_left .box .box_text p {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 470, ../sass/screen.scss */
.quiz_page .section-1 .box_content .box_top .box_right,
.quiz_page .section-2 .box_content .box_top .box_right,
.quiz_page .section-3 .box_content .box_top .box_right,
.quiz_page .section-4 .box_content .box_top .box_right {
  padding-right: 10px;
}
/* line 472, ../sass/screen.scss */
.quiz_page .section-1 .box_content .box_top .box_right .box_text,
.quiz_page .section-2 .box_content .box_top .box_right .box_text,
.quiz_page .section-3 .box_content .box_top .box_right .box_text,
.quiz_page .section-4 .box_content .box_top .box_right .box_text {
  max-width: 540px;
}
/* line 474, ../sass/screen.scss */
.quiz_page .section-1 .box_content .box_top .box_right .box_text h1,
.quiz_page .section-2 .box_content .box_top .box_right .box_text h1,
.quiz_page .section-3 .box_content .box_top .box_right .box_text h1,
.quiz_page .section-4 .box_content .box_top .box_right .box_text h1 {
  margin-top: 155px;
}
/* line 477, ../sass/screen.scss */
.quiz_page .section-1 .box_content .box_top .box_right .box_text p,
.quiz_page .section-2 .box_content .box_top .box_right .box_text p,
.quiz_page .section-3 .box_content .box_top .box_right .box_text p,
.quiz_page .section-4 .box_content .box_top .box_right .box_text p {
  margin-top: 39px;
}
/* line 483, ../sass/screen.scss */
.quiz_page .section-1 .box_content .box_bottom,
.quiz_page .section-2 .box_content .box_bottom,
.quiz_page .section-3 .box_content .box_bottom,
.quiz_page .section-4 .box_content .box_bottom {
  padding-top: 66px;
}
/* line 485, ../sass/screen.scss */
.quiz_page .section-1 .box_content .box_bottom .box,
.quiz_page .section-2 .box_content .box_bottom .box,
.quiz_page .section-3 .box_content .box_bottom .box,
.quiz_page .section-4 .box_content .box_bottom .box {
  display: block;
  max-width: 420px;
  background: var(--red-color);
  margin-left: auto;
  padding-bottom: 90px;
}
/* line 495, ../sass/screen.scss */
.quiz_page .section-2 .box_content .box_top .box_left, .quiz_page .quiz_page .section-3 .box_content .box_top .box_left {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
/* line 500, ../sass/screen.scss */
.quiz_page .section-2 .box_content,
.quiz_page .section-3 .box_content {
  background: #D9DFE1;
  padding-top: 20px;
  position: relative;
}
/* line 505, ../sass/screen.scss */
.quiz_page .section-2 .box_content .box_top .box_left,
.quiz_page .section-3 .box_content .box_top .box_left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 507, ../sass/screen.scss */
.quiz_page .section-2 .box_content .box_top .box_left .box_img,
.quiz_page .section-3 .box_content .box_top .box_left .box_img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 509, ../sass/screen.scss */
.quiz_page .section-2 .box_content .box_top .box_left .box_img video,
.quiz_page .section-3 .box_content .box_top .box_left .box_img video {
  width: 100%;
  max-width: 480px;
}
/* line 513, ../sass/screen.scss */
.quiz_page .section-2 .box_content .box_top .box_left .box_img img,
.quiz_page .section-3 .box_content .box_top .box_left .box_img img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
/* line 521, ../sass/screen.scss */
.quiz_page .section-2 .box_content .box_top .box_right,
.quiz_page .section-3 .box_content .box_top .box_right {
  padding-right: 0;
  padding-bottom: 228px;
}
/* line 524, ../sass/screen.scss */
.quiz_page .section-2 .box_content .box_top .box_right .box_text,
.quiz_page .section-3 .box_content .box_top .box_right .box_text {
  padding-right: 10px;
}
/* line 526, ../sass/screen.scss */
.quiz_page .section-2 .box_content .box_top .box_right .box_text p:last-of-type,
.quiz_page .section-3 .box_content .box_top .box_right .box_text p:last-of-type {
  font-size: 22px;
  font-weight: 600;
  margin-top: 39px;
}
/* line 534, ../sass/screen.scss */
.quiz_page .section-2 .box_content .box_bottom,
.quiz_page .section-3 .box_content .box_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: auto;
  padding-top: 0;
  width: 100%;
  max-width: 420px;
}
/* line 542, ../sass/screen.scss */
.quiz_page .section-2 .box_content .box_bottom .box,
.quiz_page .section-3 .box_content .box_bottom .box {
  display: block;
  background: var(--red-color);
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  padding: 50px;
}
/* line 555, ../sass/screen.scss */
.quiz_page .section-3 .box_content {
  background: #bdd6e6;
  padding: 142px 0px 0;
}
/* line 559, ../sass/screen.scss */
.quiz_page .section-3 .box_content .box_top .box_left {
  display: block;
}
/* line 561, ../sass/screen.scss */
.quiz_page .section-3 .box_content .box_top .box_left .box_img {
  text-align: center;
  display: block;
  margin-top: 37px;
}
/* line 565, ../sass/screen.scss */
.quiz_page .section-3 .box_content .box_top .box_left .box_img img {
  margin: auto;
  max-width: 455px;
}
/* line 571, ../sass/screen.scss */
.quiz_page .section-3 .box_content .box_top .box_right {
  padding-bottom: 0;
}
/* line 573, ../sass/screen.scss */
.quiz_page .section-3 .box_content .box_top .box_right .box_number {
  margin-top: 76px;
}
/* line 575, ../sass/screen.scss */
.quiz_page .section-3 .box_content .box_top .box_right .box_number p {
  font-size: 22px;
  font-weight: 900;
}
/* line 581, ../sass/screen.scss */
.quiz_page .section-3 .box_content .box_top .box_right .box_text p,
.quiz_page .section-3 .box_content .box_top .box_right .box_text p:last-of-type {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 22px;
}
/* line 589, ../sass/screen.scss */
.quiz_page .section-3 .box_content .box_top .box_right .box_buttons {
  margin-top: 48px;
  padding-bottom: 213px;
}
/* line 595, ../sass/screen.scss */
.quiz_page .section-3 .box_content .box_bottom {
  padding-top: 40px;
}
/* line 597, ../sass/screen.scss */
.quiz_page .section-3 .box_content .box_bottom .box {
  display: block;
  max-width: 420px;
  background: var(--red-color);
  margin-left: auto;
  padding: 0 0 90px 0;
  text-align: left;
}
/* line 609, ../sass/screen.scss */
.quiz_page .section-3-2 .box_content {
  background: #efdbb2;
}
/* line 611, ../sass/screen.scss */
.quiz_page .section-3-2 .box_content .box_top .box_left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 613, ../sass/screen.scss */
.quiz_page .section-3-2 .box_content .box_top .box_left .box_img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 615, ../sass/screen.scss */
.quiz_page .section-3-2 .box_content .box_top .box_left .box_img img {
  margin: auto 0 0;
  max-width: 100%;
}
/* line 624, ../sass/screen.scss */
.quiz_page .section-3-3 .box_content {
  background: #DCBFA6;
}
/* line 627, ../sass/screen.scss */
.quiz_page .section-3-3 .box_content .box_top .box_left .box_img {
  max-width: 450px;
  margin: auto;
}
/* line 630, ../sass/screen.scss */
.quiz_page .section-3-3 .box_content .box_top .box_left .box_img img {
  margin: auto 0 0;
  max-width: 100%;
}
/* line 639, ../sass/screen.scss */
.quiz_page .section-3-4 .box_content {
  background: #B6B8DC;
}
/* line 641, ../sass/screen.scss */
.quiz_page .section-3-4 .box_content .box_top .box_left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 643, ../sass/screen.scss */
.quiz_page .section-3-4 .box_content .box_top .box_left .box_img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 468px;
  margin: auto;
}
/* line 647, ../sass/screen.scss */
.quiz_page .section-3-4 .box_content .box_top .box_left .box_img img {
  margin: auto 0 0;
  max-width: 100%;
}
/* line 656, ../sass/screen.scss */
.quiz_page .section-3-5 .box_content {
  background: #B5E3D8;
}
/* line 659, ../sass/screen.scss */
.quiz_page .section-3-5 .box_content .box_top .box_left .box_img {
  max-width: 320px;
  margin: auto;
}
/* line 662, ../sass/screen.scss */
.quiz_page .section-3-5 .box_content .box_top .box_left .box_img img {
  margin: auto 0 0;
  max-width: 100%;
}
/* line 671, ../sass/screen.scss */
.quiz_page .section-3-6 .box_content {
  background: #EFDBB2;
}
/* line 673, ../sass/screen.scss */
.quiz_page .section-3-6 .box_content .box_top .box_left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 675, ../sass/screen.scss */
.quiz_page .section-3-6 .box_content .box_top .box_left .box_img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 400px;
  margin: auto;
}
/* line 679, ../sass/screen.scss */
.quiz_page .section-3-6 .box_content .box_top .box_left .box_img img {
  margin: auto 0 0;
  max-width: 100%;
}
/* line 688, ../sass/screen.scss */
.quiz_page .section-3-7 .box_content {
  background: #DCBFA6;
}
/* line 690, ../sass/screen.scss */
.quiz_page .section-3-7 .box_content .box_top .box_left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 692, ../sass/screen.scss */
.quiz_page .section-3-7 .box_content .box_top .box_left .box_img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 400px;
  margin: auto;
}
/* line 696, ../sass/screen.scss */
.quiz_page .section-3-7 .box_content .box_top .box_left .box_img img {
  margin: auto 0 0;
  max-width: 100%;
}
/* line 705, ../sass/screen.scss */
.quiz_page .section-3-8 .box_content {
  background: #BDD6E6;
}
/* line 707, ../sass/screen.scss */
.quiz_page .section-3-8 .box_content .box_top .box_left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 709, ../sass/screen.scss */
.quiz_page .section-3-8 .box_content .box_top .box_left .box_img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 570px;
  margin: auto;
}
/* line 713, ../sass/screen.scss */
.quiz_page .section-3-8 .box_content .box_top .box_left .box_img img {
  margin: auto 0 0;
  max-width: 100%;
}
/* line 722, ../sass/screen.scss */
.quiz_page .section-3-9 .box_content {
  background: #B6B8DC;
}
/* line 724, ../sass/screen.scss */
.quiz_page .section-3-9 .box_content .box_top .box_left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 726, ../sass/screen.scss */
.quiz_page .section-3-9 .box_content .box_top .box_left .box_img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 570px;
  margin: auto;
}
/* line 730, ../sass/screen.scss */
.quiz_page .section-3-9 .box_content .box_top .box_left .box_img img {
  margin: auto 0 0;
  max-width: 100%;
}
/* line 739, ../sass/screen.scss */
.quiz_page .section-3-10 .box_content {
  background: #D9DFE1;
}
/* line 741, ../sass/screen.scss */
.quiz_page .section-3-10 .box_content .box_top .box_left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 743, ../sass/screen.scss */
.quiz_page .section-3-10 .box_content .box_top .box_left .box_img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 570px;
  margin: auto;
}
/* line 747, ../sass/screen.scss */
.quiz_page .section-3-10 .box_content .box_top .box_left .box_img img {
  margin: auto 0 0;
  max-width: 100%;
}
/* line 756, ../sass/screen.scss */
.quiz_page .section-4 .box_content {
  background: #DCBFA6;
  padding: 95px 10px 10px;
}
/* line 759, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 14, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_top .box_left,
.quiz_page .section-4 .box_content .box_top .box_right {
  width: 50%;
}
/* line 762, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_top .box_left .box {
  max-width: 445px;
  margin: 13px auto 0;
  margin-right: 8%;
}
/* line 766, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_top .box_left .box .box_reply {
  padding: 21px 25px 16px 30px;
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
/* line 772, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_top .box_left .box .box_reply:not(:first-of-type) {
  margin-top: 8px;
}
/* line 775, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_top .box_left .box .box_reply span {
  font-size: 15px;
  color: #000;
  font-weight: 500;
  margin-right: 8px;
}
/* line 781, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_top .box_left .box .box_reply p {
  color: var(--green-color);
  font-size: 15px;
}
/* line 786, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_top .box_left .box .box_reply.box_wrong p {
  color: var(--red-color);
}
/* line 793, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_top .box_right {
  padding-right: 10px;
  padding-bottom: 195px;
  background-image: url(../images/sct-3_img-1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
/* line 799, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_top .box_right .box_text {
  max-width: 520px;
  margin-left: 2%;
}
/* line 802, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_top .box_right .box_text h3 {
  margin-top: 0px;
  line-height: 1.17;
}
/* line 806, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_top .box_right .box_text p {
  margin-top: 39px;
  color: #fff;
}
/* line 813, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_bottom {
  padding-top: 66px;
}
/* line 815, ../sass/screen.scss */
.quiz_page .section-4 .box_content .box_bottom .box {
  display: block;
  max-width: 420px;
  background: var(--red-color);
  margin-left: auto;
  padding-bottom: 90px;
}
/* line 826, ../sass/screen.scss */
.quiz_page .section_success .box_content {
  background: var(--green-color);
  background-image: url(../images/sct-4_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 88.5%;
  padding-bottom: 42px;
  padding: 95px 0px 10px 10px;
}
/* line 835, ../sass/screen.scss */
.quiz_page .section_success .box_content .box_top .box_left .box {
  margin: 36px auto 0;
  margin-right: 14%;
}
/* line 839, ../sass/screen.scss */
.quiz_page .section_success .box_content .box_top .box_right {
  background-image: url(../images/sct-5_img-2.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 155px;
}
/* line 844, ../sass/screen.scss */
.quiz_page .section_success .box_content .box_top .box_right .box_text {
  max-width: 390px;
  margin-left: 2%;
  margin-top: 63px;
}
/* line 848, ../sass/screen.scss */
.quiz_page .section_success .box_content .box_top .box_right .box_text h4 {
  margin: 30px 0 0;
}
/* line 851, ../sass/screen.scss */
.quiz_page .section_success .box_content .box_top .box_right .box_text p {
  margin-top: 45px;
  font-size: 22px;
  color: #000;
  line-height: 1.4;
}
@media (max-width: 1300px) {
  /* line 864, ../sass/screen.scss */
  .quiz_page .section_success .box_content .box_top .box_right {
    background-position: bottom 0 right -4vw;
  }
}
@media (max-width: 1200px) {
  /* line 869, ../sass/screen.scss */
  .quiz_page .section-1 .box_content {
    padding: 170px 0px 0;
  }
  /* line 872, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_bottom .box {
    padding-bottom: 70px;
  }
  /* line 875, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_right .box_text h1 {
    margin-top: 100px;
  }
  /* line 878, ../sass/screen.scss */
  .quiz_page .section-3 .box_content {
    padding: 80px 0px 0;
  }
  /* line 881, ../sass/screen.scss */
  .quiz_page .section_success .box_content .box_top .box_right {
    background-position: bottom 0 right -8vw;
  }
}
@media (max-width: 992px) {
  /* line 886, ../sass/screen.scss */
  .quiz_page h1 {
    font-size: 40px;
  }
  /* line 889, ../sass/screen.scss */
  .quiz_page h3 {
    font-size: 54px;
  }
  /* line 892, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_right .box_text h1 {
    margin-top: 70px;
  }
  /* line 895, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_top .box_left .box {
    max-width: 250px;
    margin: auto;
  }
  /* line 899, ../sass/screen.scss */
  .quiz_page .section-3 .box_content .box_top .box_right .box_text p,
  .quiz_page .section-3 .box_content .box_top .box_right .box_text p:last-of-type {
    font-size: 28px;
  }
}
@media (max-width: 992px) and (min-width: 776px) {
  /* line 905, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_bottom, .quiz_page .quiz_page .section-3 .box_content .box_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: auto;
    padding-top: 0;
    width: 100%;
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  /* line 916, ../sass/screen.scss */
  .quiz_page header .box_content {
    padding: 12px 0 12px 40px;
  }
  /* line 920, ../sass/screen.scss */
  .quiz_page .section-3 .box_content {
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  /* line 925, ../sass/screen.scss */
  .quiz_page .section-3 .box_content .box_top .box_right .box_buttons {
    padding-bottom: 0;
  }
  /* line 931, ../sass/screen.scss */
  .quiz_page .section-1 .box_content {
    padding: 20px 0px 0;
  }
  /* line 933, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_top {
    padding: 15px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 23, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_top .box_left,
  .quiz_page .section-1 .box_content .box_top .box_right {
    width: 100%;
  }
  /* line 936, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_top .box_left {
    order: 1;
    margin-top: 50px;
  }
  /* line 939, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_top .box_left .box {
    max-width: 208px;
  }
  /* line 942, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_top .box_left .box .box_text img {
    display: block;
    width: 25px;
    height: auto;
  }
  /* line 947, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_top .box_left .box .box_text p {
    font-size: 25px;
  }
  /* line 953, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_top .box_right {
    padding-right: 0;
  }
  /* line 955, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_top .box_right .box_text {
    margin: 0 auto 0 auto;
    max-width: 370px;
  }
  /* line 958, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_top .box_right .box_text p {
    margin-top: 30px;
    font-size: 20px;
  }
  /* line 965, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_bottom {
    padding-top: 25px;
  }
  /* line 970, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_bottom, .quiz_page .quiz_page .section-3 .box_content .box_bottom {
    margin-top: 30px;
  }
  /* line 976, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top,
  .quiz_page .section-3 .box_content .box_top {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 23, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_left,
  .quiz_page .section-2 .box_content .box_top .box_right,
  .quiz_page .section-3 .box_content .box_top .box_left,
  .quiz_page .section-3 .box_content .box_top .box_right {
    width: 100%;
  }
  /* line 978, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_left,
  .quiz_page .section-3 .box_content .box_top .box_left {
    order: 1;
    margin-top: 50px;
  }
  /* line 981, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_left .box_img,
  .quiz_page .section-3 .box_content .box_top .box_left .box_img {
    margin: auto;
    max-width: 500px;
  }
  /* line 986, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_right,
  .quiz_page .section-3 .box_content .box_top .box_right {
    padding: 0 15px 5px 15px;
  }
  /* line 988, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_right .box_text,
  .quiz_page .section-3 .box_content .box_top .box_right .box_text {
    margin: 0 auto 0 auto;
    max-width: 520px;
  }
  /* line 991, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_right .box_text h1,
  .quiz_page .section-3 .box_content .box_top .box_right .box_text h1 {
    margin-top: 70px;
  }
  /* line 994, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_right .box_text p,
  .quiz_page .section-3 .box_content .box_top .box_right .box_text p {
    margin-top: 30px;
    font-size: 20px;
  }
  /* line 1001, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_bottom,
  .quiz_page .section-3 .box_content .box_bottom {
    padding-top: 0;
    position: static;
  }
  /* line 1004, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_bottom .box,
  .quiz_page .section-3 .box_content .box_bottom .box {
    text-align: left;
  }
  /* line 1011, ../sass/screen.scss */
  .quiz_page .section-3 .box_content {
    padding: 20px 0px 0;
  }
  /* line 1014, ../sass/screen.scss */
  .quiz_page .section-3 .box_content .box_top .box_left {
    display: none;
  }
  /* line 1017, ../sass/screen.scss */
  .quiz_page .section-3 .box_content .box_top .box_right {
    margin: 0 auto 0 auto;
    max-width: 520px;
  }
  /* line 1020, ../sass/screen.scss */
  .quiz_page .section-3 .box_content .box_top .box_right .box_buttons {
    margin-top: 48px;
    padding-bottom: 90px;
  }
  /* line 1029, ../sass/screen.scss */
  .quiz_page .section-4 .box_content {
    padding: 20px 0px 0;
  }
  /* line 1031, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_top {
    padding: 15px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 23, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_top .box_left,
  .quiz_page .section-4 .box_content .box_top .box_right {
    width: 100%;
  }
  /* line 1034, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_top .box_left {
    order: 1;
    margin-top: 10px;
  }
  /* line 1037, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_top .box_left .box {
    max-width: 370px;
    margin-right: auto;
  }
  /* line 1040, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_top .box_left .box .box_reply {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* line 1042, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_top .box_left .box .box_reply span {
    margin-bottom: 8px;
  }
  /* line 1048, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_top .box_right {
    padding-right: 0;
    padding-bottom: 250px;
    background-image: url(../images/sct-3_img-1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  /* line 1054, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_top .box_right .box_text {
    margin: 0 auto 0 auto;
    max-width: 370px;
  }
  /* line 1057, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_top .box_right .box_text p {
    margin-top: 30px;
    font-size: 20px;
  }
  /* line 1064, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_bottom {
    padding-top: 25px;
  }
  /* line 1069, ../sass/screen.scss */
  .quiz_page .section_success .box_content {
    background-image: none;
  }
  /* line 1072, ../sass/screen.scss */
  .quiz_page .section_success .box_content .box_top .box_right {
    padding-right: 0;
    padding-bottom: 420px;
    background-image: url(../images/sct-5_img-2.png), url(../images/sct-4_bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center bottom, center bottom -213px;
    background-size: 370px, 100%;
  }
}
@media (max-width: 480px) {
  /* line 1084, ../sass/screen.scss */
  .quiz_page h3 {
    font-size: 40px;
  }
  /* line 1087, ../sass/screen.scss */
  .quiz_page header .box_content {
    padding: 20px 16px 20px 16px;
  }
  /* line 1089, ../sass/screen.scss */
  .quiz_page header .box_content .logo {
    max-width: 195px;
  }
  /* line 1094, ../sass/screen.scss */
  .quiz_page .section-1 .box_content {
    padding: 0;
  }
  /* line 1098, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_top .box_right .box_text h1 {
    margin-top: 50px;
  }
  /* line 1104, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_bottom .box {
    max-width: 273px;
    padding: 8px 8px 14px;
  }
  /* line 1107, ../sass/screen.scss */
  .quiz_page .section-1 .box_content .box_bottom .box img {
    display: inline-block;
    width: 178px;
    height: auto;
  }
  /* line 1120, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_left .box_img {
    margin: auto;
  }
  /* line 1126, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_right .box_text h1 {
    margin-top: 20px;
  }
  /* line 1129, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_right .box_text p {
    margin-top: 24px;
    font-size: 20px;
  }
  /* line 1132, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_right .box_text p:last-of-type {
    font-size: 20px;
    margin-top: 16px;
  }
  /* line 1141, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_bottom .box {
    max-width: 273px;
    padding: 20px;
    font-size: 26px;
  }
  /* line 1150, ../sass/screen.scss */
  .quiz_page .section-3 .my_btn {
    max-width: 100%;
    font-size: 22px;
  }
  /* line 1156, ../sass/screen.scss */
  .quiz_page .section-3 .box_content .box_top .box_right .box_number {
    margin-top: 60px;
  }
  /* line 1160, ../sass/screen.scss */
  .quiz_page .section-3 .box_content .box_top .box_right .box_text p,
  .quiz_page .section-3 .box_content .box_top .box_right .box_text p:last-of-type {
    font-size: 20px;
    margin-top: 16px;
  }
  /* line 1166, ../sass/screen.scss */
  .quiz_page .section-3 .box_content .box_top .box_right .box_buttons {
    margin-top: 56px;
    padding-bottom: 62px;
  }
  /* line 1172, ../sass/screen.scss */
  .quiz_page .section-3 .box_content .box_bottom .box {
    max-width: 273px;
    padding: 8px 8px 14px;
  }
  /* line 1175, ../sass/screen.scss */
  .quiz_page .section-3 .box_content .box_bottom .box img {
    display: inline-block;
    width: 178px;
    height: auto;
  }
  /* line 1186, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_top .box_left .box .box_reply {
    padding: 15px;
  }
  /* line 1189, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_top .box_right {
    padding-right: 0;
    padding-bottom: 325px;
    background-image: url(../images/sct-5_img-2.png), url(../images/sct-4_bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center bottom, center bottom -93px;
    background-size: 285px, 100%;
  }
  /* line 1200, ../sass/screen.scss */
  .quiz_page .section-3 .box_content {
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  /* line 1205, ../sass/screen.scss */
  .quiz_page .section-3 .box_content .box_top .box_right .box_buttons {
    padding-bottom: 0;
  }
  /* line 1211, ../sass/screen.scss */
  .quiz_page .section_success .box_content .box_top .box_left .box {
    margin: 0px auto 0;
    margin-right: auto;
  }
}
@media (max-width: 400px) {
  /* line 1217, ../sass/screen.scss */
  .quiz_page h4 {
    font-size: 20px;
    font-weight: 500;
  }
  /* line 1221, ../sass/screen.scss */
  .quiz_page .section-2 .box_content .box_top .box_right .box_text {
    margin: 0 auto 0 0;
    max-width: 265px;
  }
  /* line 1225, ../sass/screen.scss */
  .quiz_page .section_success .box_content .box_top .box_right .box_text img {
    display: block;
    width: 282px;
    height: auto;
    margin: auto;
  }
  /* line 1231, ../sass/screen.scss */
  .quiz_page .section-4 .box_content .box_top .box_right {
    padding-right: 0;
    padding-bottom: 325px;
    background-image: url(../images/sct-5_img-2.png), url(../images/sct-4_bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center bottom, center bottom -12%;
    background-size: 285px, 121%;
  }
}
